<div id='about'>
	<div id="hero_content">
		<div id="hero_title">
		<h1>Store Telling Click on Show</h1>
		<br>
			<div id="hero_qq_tim">
				<label for="qqortim" class="margin-right-1">
				Choose the app you use 
				</label>
		<select id="qqortim">
			<option value="qq" selected="selected">QQ</option>
			<option value="tim">TIM</option>
		</select>
			</div>
		</div>
		<div id="bili">
			<iframe src="//player.bilibili.com/player.html?aid=52425371&cid=91750957&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true" width="370" height="278"> </iframe>
		</div>
	</div>
</div>

