<div id="footer">
	<div class="footcontent">
	<p>&copy; the story of data&nbsp;&nbsp;
	<a id="number"></a>&nbsp;&nbsp;
	<a id="weather"></a>&nbsp;&nbsp;
	</p>
	</div>
	<div class="footcontent">
	<a id='qqzone' href="/" target="_blank" title="分享到qq空间"><img src="http://qzonestyle.gtimg.cn/ac/qzone_v5/app/app_share/btn_share.png" /></a>
	<a id="qqfriend" href="/" target="_black" title="分享给好友"><img style="width:30px;height    :20px"  src="https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1560335100&di=b738968c0898b68a73550b703827b171&src=http://n.sinaimg.cn/translate/20171121/fKXj-fynwnws1205848.jpg"></a>
	</div>
	<div class="footcontent">
	<a href="http://www.miibeian.gov.cn/"><span font-size="20px"><font-size="50px">冀ICP备18000575号-2</font></span></a>
	</div>
</div>
