<div class='header'>
	<ul class="globalNavPrimary__menu">
		<li class="globalNavPrimary__item">
			<a href="/"><img src="/img/logo.png" al="mysitelogo"><a>
		</li>
		<li class="globalNavPrimary__item">
			<a href="#about">To about</a>
		</li>
		<li class="globalNavPrimary__item">
			<a href="#start">To start</a>
		</li>
		<li class="globalNavPrimary__item">
			<a href="echarts">To look charts</a>
		</li class="globalNavPrimary__item">
		<li class="globalNavPrimary__item">
			<a href="#allcomform">To propose</a>
		</li>
		<li class="globalNavPrimary__item">
			<a href="#process-div">To process</a>
		</li>
	</ul>
</div>
