<div class='header'>
	<ul class="globalNavPrimary__menu">
		<li class="globalNavPrimary__item">
			<a href="/"><img src="/img/logo.png" al="mysitelogo"><a>
		</li>
		<li class="globalNavPrimary__item">
			<a href="#about">to about</a>
		</li>
		<li class="globalNavPrimary__item">
			<a href="#start">to start</a>
		</li>
		<li class="globalNavPrimary__item">
			<a href="echarts">to look charts</a>
		</li class="globalNavPrimary__item">
		<li class="globalNavPrimary__item">
			<a href="#allcomform">to propose</a>
		</li>
		<li class="globalNavPrimary__item">
			<a href="#process-div">to process</a>
		</li>
	</ul>
</div>
