<div id="start">
	<div id="startleft"> 
		<h1>The Story of Us</h1>

		<p>Your fortune for the day:</p>
		<blockquote>{{fortune}}</blockquote>
	</div>
	<div id="startright">
		<h2>Push up data !</h2>
		<br>
		<form class="form-horizontal" role="form" enctype="multipart/form-data" method="POST" action="/chatrecord/{year}/{month}">
		<div class="form-group">
			<label for="fieldName" class="col-sm-2 control-label">Name</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" required id="fieldName" name="name">
			</div>
		</div>
		<div class="form-group">
			<label for="fieldEmail" class="col-sm-2 control-label">Email</label>
			<div class="col-sm-4">
				<input type="email" class="form-control" required id="fieldName" name="email">
			</div>
		</div>
		<div class="form-group">
			<label for="fieldPhoto" class="col-sm-2 control-label">Chat record</label>
			<div class="col-sm-4">
				<input type="file" class="form-control" required accept="txt/*" id="fieldtxt" name="txt">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-4">
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</div>
	</div>
</form>
</div>
