<!doctype html>
<html class="no-js">
	<head>
		<title>The Story of Data</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
		<style>
			body {
				padding-top:50px;
				padding-bottom:20px;
			}
		</style>
		<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="/css/main.css">
		<script src="/vendor/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
		<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
		<script>window.jQuery || document.write('<script src="/vendor/js/jquery-2.1.1.min.js"><\/script>')</script>
		<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js"></script>
	</head>

	<body>
		<header><a href="/"><img src="/img/logo.png" alt="mysitelogo" style="float:right;position:relative;right:10%;top:-50px"></a></header><br>
		<div class="container">
			{{{body}}}
			
			<hr>

			<footer>
				<p style="display:flex;align-items:center">&copy; the story of data&nbsp;&nbsp;<a id="number"></a>&nbsp;&nbsp;<a id="weather"></a></p><a href="http://www.miibeian.gov.cn/"><span font-size="20px"><font-size="50px">冀ICP备18000575号-2</font></span></a>
			</footer>
		</div>
		</body>
		<script>
			function getnumber(){
				$.ajax({
					url:'/handlebars',
					dataType:'JSON',
					success:function(data){
						console.log(data.num);
						$("a#number").append(data.num);
					},
					error:function(err){
						console.log('error:' + err );
					}
				});
			}
			function getweather(){
				$.ajax({
					url:'/weather',
					dataType:'JSON',
					success:function(data){
						//console.log(data.weather)
						//console.log(typeof(data.weather))
						var strs = new Array();
						strs = data.weather.split("'")
						//console.log(strs)
						$("a#weather").append(strs[1])
						$("a#weather").append('&nbsp;')
						$("a#weather").append(strs[3])
						
						$("a#weather").append('/')
						$("a#weather").append(strs[5])
					},
					error:function(err){
						console.log('error:' + err );
					}
					
				});
			}
			getnumber()
			getweather()
		</script>
		<script src="/js/main.js"></script>
</html>
