<!doctype html>
<html class="no-js">
	<head>
		<title>The Story of Data</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="/css/main.css">
		<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
		<script src="/vendor/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
		<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
		<script>window.jQuery || document.write('<script src="/vendor/js/jquery-2.1.1.min.js"><\/script>')</script>
		<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js"></script>
	</head>

	<body>
	<div id="container">
		<section class="otherheader" style="background-color:#fbeeca;">
		{{> header}}
		</section>
		<section class="hero" style="background-color:#fbeeca;">
		{{> about}}
		</section>
			{{# if bodynamehave }}
			<div id="body">
				{{{body}}}
			</div>
			{{ else }}
				{{{body}}}
			{{/if}}
		{{> footer}}
	</div>
	</body>
		<script>
			function getnumber(){
				$.ajax({
					url:'/handlebars',
					dataType:'JSON',
					success:function(data){
						console.log(data.num);
						$("a#number").append(data.num);
					},
					error:function(err){
						console.log('error:' + err );
					}
				});
			}
			function getweather(){
				$.ajax({
					url:'/weather',
					dataType:'JSON',
					success:function(data){
						//console.log(data.weather)
						//console.log(typeof(data.weather))
						var strs = new Array();
						strs = data.weather.split("'")
						//console.log(strs)
						$("a#weather").append(strs[1])
						$("a#weather").append('&nbsp;')
						$("a#weather").append(strs[3])
						
						$("a#weather").append('/')
						$("a#weather").append(strs[5])
					},
					error:function(err){
						console.log('error:' + err );
					}
					
				});
			}
			getnumber()
			getweather()
			var search = window.location.search.replace(/=/,'%3D')
			$("a#qqzone").attr("href","https://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=www.wangshuaishuai.com"+window.location.pathname+search+"&title=%20The%20Story%20of%20Data&desc=%E6%88%91%E5%92%8C%E6%9F%90%E4%B8%80%E4%B8%AA%E4%BA%BA%E7%9A%84%E8%AE%B0%E5%BD%95@&summary=%E6%97%B6%E9%97%B4%E6%9D%A5%E8%BF%87%E7%9A%84%E7%97%95%E8%BF%B9&pics=https://github.com/wangzilong1997/The-Story-of-Data/raw/master/H5%E6%96%B9%E5%90%919%E7%BB%84%EF%BC%88%E6%95%B0%E6%8D%AE%E6%95%85%E4%BA%8B%EF%BC%89/%E6%95%B0%E6%8D%AE%E6%95%85%E4%BA%8B/image/logo.png")
			$("a#qqfriend").attr("href","http://connect.qq.com/widget/shareqq/index.html?url=http://wangshuaishuai.com"+window.location.pathname+search+"&sharesource=qzone&title=分享给好友&pics=https://github.com/wangzilong1997/The-Story-of-Data/raw/master/H5%E6%96%B9%E5%90%919%E7%BB%84%EF%BC%88%E6%95%B0%E6%8D%AE%E6%95%85%E4%BA%8B%EF%BC%89/%E6%95%B0%E6%8D%AE%E6%95%85%E4%BA%8B/image/logo.png&summary=您想说的话~&desc=快来看呀~");
		</script>
		<script src="/js/main.js"></script>
</html>
