<h1>介绍流程页面</h1>

<div class='container'>
	<br>
	<a href="https://www.bilibili.com/video/av52425230" target="_blank">
		<button class="btn bg-warning btn-large btn-block" style="font:2em '微软雅黑';color:black;height:60px">if you use TIM</button>
	</a>
	<hr>
	<a href="https://www.bilibili.com/video/av52425371" target="_blank">
		<button class="btn bg-warning btn-large btn-block" style="font:2em '微软雅黑';color:black;height:60px">if you use QQ</button>
	</a>
	<br>
</div>

