<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-wordcloud.min.js"></script>

</head>
<body>
        <div id="7f364b4a285c4f66a1d10deea34136a2" style="width:900px; height:500px;"></div>
    <script>
        var chart_7f364b4a285c4f66a1d10deea34136a2 = echarts.init(
            document.getElementById('7f364b4a285c4f66a1d10deea34136a2'), 'white', {renderer: 'canvas'});
        var option_7f364b4a285c4f66a1d10deea34136a2 = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "wangzilong",
            "data": [
                433
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            }
        }
    ],
    "legend": [
        {
            "data": [
                "wangzilong"
            ],
            "selected": {
                "wangzilong": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                2019
            ]
        }
    ],
    "title": [
        {
            "text": "\u5e74",
            "subtext": "year"
        }
    ]
};
        chart_7f364b4a285c4f66a1d10deea34136a2.setOption(option_7f364b4a285c4f66a1d10deea34136a2);
    </script>
<br/>        <div id="a5b5dc7dec5b41c4acd9eb884a0a9a86" style="width:900px; height:500px;"></div>
    <script>
        var chart_a5b5dc7dec5b41c4acd9eb884a0a9a86 = echarts.init(
            document.getElementById('a5b5dc7dec5b41c4acd9eb884a0a9a86'), 'white', {renderer: 'canvas'});
        var option_a5b5dc7dec5b41c4acd9eb884a0a9a86 = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "2019",
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "1\u6708",
                    0
                ],
                [
                    "2\u6708",
                    0
                ],
                [
                    "3\u6708",
                    0
                ],
                [
                    "4\u6708",
                    0
                ],
                [
                    "5\u6708",
                    425
                ],
                [
                    "6\u6708",
                    8
                ],
                [
                    "7\u6708",
                    0
                ],
                [
                    "8\u6708",
                    0
                ],
                [
                    "9\u6708",
                    0
                ],
                [
                    "10\u6708",
                    0
                ],
                [
                    "11\u6708",
                    0
                ],
                [
                    "12\u6708",
                    0
                ]
            ],
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "fontSize": 12
                },
                "data": [
                    {
                        "type": "max"
                    }
                ]
            }
        }
    ],
    "legend": [
        {
            "data": [
                "2019"
            ],
            "selected": {
                "2019": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "1\u6708",
                "2\u6708",
                "3\u6708",
                "4\u6708",
                "5\u6708",
                "6\u6708",
                "7\u6708",
                "8\u6708",
                "9\u6708",
                "10\u6708",
                "11\u6708",
                "12\u6708"
            ]
        }
    ],
    "title": [
        {
            "text": "\u6708",
            "subtext": "month"
        }
    ]
};
        chart_a5b5dc7dec5b41c4acd9eb884a0a9a86.setOption(option_a5b5dc7dec5b41c4acd9eb884a0a9a86);
    </script>
<br/>        <div id="9e1f389a52724b408b9b7343dc336308" style="width:900px; height:500px;"></div>
    <script>
        var chart_9e1f389a52724b408b9b7343dc336308 = echarts.init(
            document.getElementById('9e1f389a52724b408b9b7343dc336308'), 'white', {renderer: 'canvas'});
        var option_9e1f389a52724b408b9b7343dc336308 = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "eachhour",
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "1\u70b9",
                    0
                ],
                [
                    "2\u70b9",
                    0
                ],
                [
                    "3\u70b9",
                    0
                ],
                [
                    "4\u70b9",
                    0
                ],
                [
                    "5\u70b9",
                    0
                ],
                [
                    "6\u70b9",
                    0
                ],
                [
                    "7\u70b9",
                    0
                ],
                [
                    "8\u70b9",
                    1
                ],
                [
                    "9\u70b9",
                    69
                ],
                [
                    "10\u70b9",
                    79
                ],
                [
                    "11\u70b9",
                    18
                ],
                [
                    "12\u70b9",
                    15
                ],
                [
                    "13\u70b9",
                    2
                ],
                [
                    "14\u70b9",
                    0
                ],
                [
                    "15\u70b9",
                    27
                ],
                [
                    "16\u70b9",
                    101
                ],
                [
                    "17\u70b9",
                    24
                ],
                [
                    "18\u70b9",
                    13
                ],
                [
                    "19\u70b9",
                    12
                ],
                [
                    "20\u70b9",
                    4
                ],
                [
                    "21\u70b9",
                    53
                ],
                [
                    "22\u70b9",
                    0
                ],
                [
                    "23\u70b9",
                    1
                ],
                [
                    "24\u70b9",
                    14
                ]
            ],
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "fontSize": 12
                },
                "data": [
                    {
                        "type": "max"
                    }
                ]
            },
            "markLine": {
                "silent": false,
                "precision": 2,
                "label": {
                    "show": true,
                    "position": "top",
                    "fontSize": 12
                },
                "data": [
                    {
                        "type": "average"
                    }
                ]
            }
        }
    ],
    "legend": [
        {
            "data": [
                "eachhour"
            ],
            "selected": {
                "eachhour": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "1\u70b9",
                "2\u70b9",
                "3\u70b9",
                "4\u70b9",
                "5\u70b9",
                "6\u70b9",
                "7\u70b9",
                "8\u70b9",
                "9\u70b9",
                "10\u70b9",
                "11\u70b9",
                "12\u70b9",
                "13\u70b9",
                "14\u70b9",
                "15\u70b9",
                "16\u70b9",
                "17\u70b9",
                "18\u70b9",
                "19\u70b9",
                "20\u70b9",
                "21\u70b9",
                "22\u70b9",
                "23\u70b9",
                "24\u70b9"
            ]
        }
    ],
    "title": [
        {
            "text": "\u65f6",
            "subtext": "hour"
        }
    ]
};
        chart_9e1f389a52724b408b9b7343dc336308.setOption(option_9e1f389a52724b408b9b7343dc336308);
    </script>
<br/>        <div id="98c65d1c20214d9483697e0b73a6f1b9" style="width:900px; height:500px;"></div>
    <script>
        var chart_98c65d1c20214d9483697e0b73a6f1b9 = echarts.init(
            document.getElementById('98c65d1c20214d9483697e0b73a6f1b9'), 'white', {renderer: 'canvas'});
        var option_98c65d1c20214d9483697e0b73a6f1b9 = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "ly",
            "data": [
                92,
                52,
                12,
                9,
                13,
                8,
                19,
                15,
                7
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            }
        }
    ],
    "legend": [
        {
            "data": [
                "ly"
            ],
            "selected": {
                "ly": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u8868\u60c5",
                "\u56fe\u7247",
                "com",
                "https",
                "\u4e0a\u7ebf",
                "color",
                "\u4f60\u4eec",
                "\u6587\u4ef6",
                "txt"
            ]
        }
    ],
    "title": [
        {
            "text": "\u9ad8\u9891\u7387\u8bcd\u6c47\u8349\u7387\u6c47\u603b",
            "subtext": "\u8349\u7387"
        }
    ]
};
        chart_98c65d1c20214d9483697e0b73a6f1b9.setOption(option_98c65d1c20214d9483697e0b73a6f1b9);
    </script>
<br/>        <div id="7d888f5710c54021b85d7e64daa38927" style="width:900px; height:500px;"></div>
    <script>
        var chart_7d888f5710c54021b85d7e64daa38927 = echarts.init(
            document.getElementById('7d888f5710c54021b85d7e64daa38927'), 'white', {renderer: 'canvas'});
        var option_7d888f5710c54021b85d7e64daa38927 = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "wordCloud",
            "shape": "diamond",
            "rotationRange": [
                0,
                0
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                20,
                100
            ],
            "data": [
                {
                    "name": "\u8868\u60c5",
                    "value": 0.5315980632007382,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(1,98,155)"
                        }
                    }
                },
                {
                    "name": "\u56fe\u7247",
                    "value": 0.2780821597388926,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(6,26,158)"
                        }
                    }
                },
                {
                    "name": "com",
                    "value": 0.10029167368204697,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(32,50,68)"
                        }
                    }
                },
                {
                    "name": "https",
                    "value": 0.09026250631384228,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(111,64,147)"
                        }
                    }
                },
                {
                    "name": "\u4e0a\u7ebf",
                    "value": 0.0895052782476594,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(89,52,135)"
                        }
                    }
                },
                {
                    "name": "color",
                    "value": 0.08023333894563758,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(94,108,133)"
                        }
                    }
                },
                {
                    "name": "\u4f60\u4eec",
                    "value": 0.07540779332505033,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(111,28,152)"
                        }
                    }
                },
                {
                    "name": "\u6587\u4ef6",
                    "value": 0.07236959272110739,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(87,26,114)"
                        }
                    }
                },
                {
                    "name": "txt",
                    "value": 0.07020417157743289,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(149,136,31)"
                        }
                    }
                },
                {
                    "name": "\u6069\u6069",
                    "value": 0.07020417157743289,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(128,90,2)"
                        }
                    }
                },
                {
                    "name": "\u5fae\u4fe1",
                    "value": 0.07020417157743289,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(40,141,35)"
                        }
                    }
                },
                {
                    "name": "prompt",
                    "value": 0.07020417157743289,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(34,124,48)"
                        }
                    }
                },
                {
                    "name": "\u540e\u53f0",
                    "value": 0.06440466158947147,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(99,144,159)"
                        }
                    }
                },
                {
                    "name": "git",
                    "value": 0.06017500420922819,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(40,98,16)"
                        }
                    }
                },
                {
                    "name": "\u5bfc\u51fa",
                    "value": 0.059273647313825506,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(73,119,133)"
                        }
                    }
                },
                {
                    "name": "\u53ef\u4ee5",
                    "value": 0.058810725707382557,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(39,52,111)"
                        }
                    }
                },
                {
                    "name": "\u804a\u5929\u8bb0\u5f55",
                    "value": 0.05514885237986577,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(99,34,155)"
                        }
                    }
                },
                {
                    "name": "\u5c31\u662f",
                    "value": 0.05433491941218121,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(15,119,148)"
                        }
                    }
                },
                {
                    "name": "\u6211\u4eec",
                    "value": 0.051211177353875835,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(139,125,114)"
                        }
                    }
                },
                {
                    "name": "\u7941\u4e50",
                    "value": 0.050145836841023486,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(81,40,131)"
                        }
                    }
                },
                {
                    "name": "\u90a3\u4e2a",
                    "value": 0.04777807755463087,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(148,6,10)"
                        }
                    }
                },
                {
                    "name": "\u7f51\u7ad9",
                    "value": 0.04391784838671141,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(89,70,146)"
                        }
                    }
                },
                {
                    "name": "\u563f\u563f",
                    "value": 0.04275254637845638,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(115,98,159)"
                        }
                    }
                },
                {
                    "name": "\u8fd9\u4e2a",
                    "value": 0.04189811364357383,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(37,5,100)"
                        }
                    }
                },
                {
                    "name": "qq",
                    "value": 0.04011666947281879,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(80,9,9)"
                        }
                    }
                },
                {
                    "name": "baidu",
                    "value": 0.04011666947281879,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(5,151,38)"
                        }
                    }
                },
                {
                    "name": "debian",
                    "value": 0.04011666947281879,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(68,58,99)"
                        }
                    }
                },
                {
                    "name": "chroot",
                    "value": 0.04011666947281879,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(4,12,122)"
                        }
                    }
                },
                {
                    "name": "033",
                    "value": 0.04011666947281879,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(76,153,21)"
                        }
                    }
                },
                {
                    "name": "\u54c8\u54c8",
                    "value": 0.039674921665167784,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(145,134,66)"
                        }
                    }
                },
                {
                    "name": "\u770b\u770b",
                    "value": 0.036311709007651,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(50,37,56)"
                        }
                    }
                },
                {
                    "name": "\u4ec0\u4e48",
                    "value": 0.03291604476921141,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(7,21,18)"
                        }
                    }
                },
                {
                    "name": "\u9879\u76ee",
                    "value": 0.03277067377261745,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(58,27,41)"
                        }
                    }
                },
                {
                    "name": "\u8001\u5e08",
                    "value": 0.03208098187550335,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(9,28,93)"
                        }
                    }
                },
                {
                    "name": "\u4e00\u4e2a",
                    "value": 0.030728324360478187,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(158,38,47)"
                        }
                    }
                },
                {
                    "name": "\u674e\u60a6",
                    "value": 0.030087502104614094,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(3,58,92)"
                        }
                    }
                },
                {
                    "name": "http",
                    "value": 0.030087502104614094,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(12,38,41)"
                        }
                    }
                },
                {
                    "name": "wangshuaishuai",
                    "value": 0.030087502104614094,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(75,16,63)"
                        }
                    }
                },
                {
                    "name": "Git",
                    "value": 0.030087502104614094,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(19,51,85)"
                        }
                    }
                },
                {
                    "name": "www",
                    "value": 0.030087502104614094,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(109,22,83)"
                        }
                    }
                },
                {
                    "name": "force",
                    "value": 0.030087502104614094,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(69,17,5)"
                        }
                    }
                },
                {
                    "name": "yes",
                    "value": 0.030087502104614094,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(110,126,56)"
                        }
                    }
                },
                {
                    "name": "support",
                    "value": 0.030087502104614094,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(53,37,79)"
                        }
                    }
                },
                {
                    "name": "fi",
                    "value": 0.030087502104614094,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(52,84,102)"
                        }
                    }
                },
                {
                    "name": "QQ",
                    "value": 0.030087502104614094,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(62,53,23)"
                        }
                    }
                },
                {
                    "name": "question",
                    "value": 0.030087502104614094,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(85,8,68)"
                        }
                    }
                },
                {
                    "name": "html",
                    "value": 0.030087502104614094,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(142,75,3)"
                        }
                    }
                },
                {
                    "name": "\u52a0\u6cb9",
                    "value": 0.029553447822718123,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(38,109,38)"
                        }
                    }
                },
                {
                    "name": "\u63a5\u6536",
                    "value": 0.02543593744204698,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(32,17,106)"
                        }
                    }
                },
                {
                    "name": "\u4e0b\u8bfe",
                    "value": 0.024557574477130868,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(33,4,36)"
                        }
                    }
                },
                {
                    "name": "\u5c55\u793a",
                    "value": 0.024409261418557045,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(83,73,1)"
                        }
                    }
                },
                {
                    "name": "\u7f51\u9875",
                    "value": 0.023987994461854026,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(40,54,61)"
                        }
                    }
                },
                {
                    "name": "\u597d\u50cf",
                    "value": 0.02356095178217282,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(120,102,6)"
                        }
                    }
                },
                {
                    "name": "\u6ca1\u6709",
                    "value": 0.023502862488548656,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(4,136,130)"
                        }
                    }
                },
                {
                    "name": "\u5389\u5bb3",
                    "value": 0.02323600530714765,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(101,110,118)"
                        }
                    }
                },
                {
                    "name": "\u516c\u4f17",
                    "value": 0.022627322710503356,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(122,146,147)"
                        }
                    }
                },
                {
                    "name": "\u597d\u53cb",
                    "value": 0.021650235617692956,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(17,136,129)"
                        }
                    }
                },
                {
                    "name": "\u65e9\u70b9",
                    "value": 0.02102894347525168,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(94,85,54)"
                        }
                    }
                },
                {
                    "name": "\u79bb\u7ebf",
                    "value": 0.020997287400838924,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(5,9,112)"
                        }
                    }
                },
                {
                    "name": "GitHub",
                    "value": 0.020058334736409396,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(141,137,102)"
                        }
                    }
                },
                {
                    "name": "\u5feb\u8bd5",
                    "value": 0.020058334736409396,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(52,157,120)"
                        }
                    }
                },
                {
                    "name": "tim",
                    "value": 0.020058334736409396,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(17,88,107)"
                        }
                    }
                },
                {
                    "name": "bak",
                    "value": 0.020058334736409396,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(95,97,20)"
                        }
                    }
                },
                {
                    "name": "MB",
                    "value": 0.020058334736409396,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(8,80,78)"
                        }
                    }
                },
                {
                    "name": "github",
                    "value": 0.020058334736409396,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(132,30,93)"
                        }
                    }
                },
                {
                    "name": "\u7f8e\u5986\u7c7b",
                    "value": 0.020058334736409396,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(134,100,31)"
                        }
                    }
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u5de8\u8349\u7387\u7684\u8bcd\u4e91"
        }
    ]
};
        chart_7d888f5710c54021b85d7e64daa38927.setOption(option_7d888f5710c54021b85d7e64daa38927);
    </script>
<br/></body>
</html>
