<img src="http://mmbiz.qpic.cn/mmbiz_jpg/ibZf0ZibkFq6fjMZkmiay7GTTJJQYcIpNIJOrK2lib7iaVv0PzicVjNEhWmDovibqa5FuMCEwzGWXV6Hict1onNEibpjXCA/0" width="700px" height="200px"  alt="StoryTelling"/>
<div class='container'>
	<hr>
	<a href="about"><button class="btn bg-warning btn-large btn-block" style="font:2em '微软雅黑';color:black;height:60px">to about</button></a>
	<hr>
	<a href="start"><button class="btn bg-warning btn-large btn-block" style="font:2em '微软雅黑';color:black";height:60px>to start</button></a>
	<hr>
	<a href="echarts"><button class="btn bg-warning btn-large btn-block" style="font:2em '微软雅黑';color:black;height:60px">to look charts</button></a>
	<hr>
	<a href="comments/form"><button class="btn bg-warning btn-large btn-block" style="font:2em '微软雅黑';color:black;height:60px">to propose</button></a>
</div>

