<img src="/img/Storytelling.png" width="500px" height="180px"/>
<div class='container'>
	<hr>
	<a href="about"><button class="btn bg-warning btn-large btn-block" style="font:2em '微软雅黑';color:black;height:60px">to about</button></a>
	<hr>
	<a href="start"><button class="btn bg-warning btn-large btn-block" style="font:2em '微软雅黑';color:black;height:60px">to start</button></a>
	<hr>
	<a href="echarts"><button class="btn bg-warning btn-large btn-block" style="font:2em '微软雅黑';color:black;height:60px">to look charts</button></a>
	<hr>
	<a href="comments/form"><button class="btn bg-warning btn-large btn-block" style="font:2em '微软雅黑';color:black;height:60px">to propose</button></a>
</div>

