<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-wordcloud.min.js"></script>

</head>
<body>
        <div id="14802b71b31746b0a25676a32707c77f" style="width:900px; height:500px;"></div>
    <script>
        var chart_14802b71b31746b0a25676a32707c77f = echarts.init(
            document.getElementById('14802b71b31746b0a25676a32707c77f'), 'white', {renderer: 'canvas'});
        var option_14802b71b31746b0a25676a32707c77f = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u674e\u60a6",
            "data": [
                1653,
                1651
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u674e\u60a6"
            ],
            "selected": {
                "\u674e\u60a6": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                2018,
                2019
            ]
        }
    ],
    "title": [
        {
            "text": "\u5e74",
            "subtext": "year"
        }
    ]
};
        chart_14802b71b31746b0a25676a32707c77f.setOption(option_14802b71b31746b0a25676a32707c77f);
    </script>
<br/>        <div id="b792f08ba8e54ffb906af092466efce2" style="width:900px; height:500px;"></div>
    <script>
        var chart_b792f08ba8e54ffb906af092466efce2 = echarts.init(
            document.getElementById('b792f08ba8e54ffb906af092466efce2'), 'white', {renderer: 'canvas'});
        var option_b792f08ba8e54ffb906af092466efce2 = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "2018",
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "1\u6708",
                    0
                ],
                [
                    "2\u6708",
                    0
                ],
                [
                    "3\u6708",
                    0
                ],
                [
                    "4\u6708",
                    0
                ],
                [
                    "5\u6708",
                    49
                ],
                [
                    "6\u6708",
                    113
                ],
                [
                    "7\u6708",
                    19
                ],
                [
                    "8\u6708",
                    8
                ],
                [
                    "9\u6708",
                    470
                ],
                [
                    "10\u6708",
                    347
                ],
                [
                    "11\u6708",
                    413
                ],
                [
                    "12\u6708",
                    224
                ]
            ],
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "fontSize": 12
                },
                "data": [
                    {
                        "type": "max"
                    }
                ]
            }
        },
        {
            "type": "line",
            "name": "2019",
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "1\u6708",
                    169
                ],
                [
                    "2\u6708",
                    147
                ],
                [
                    "3\u6708",
                    307
                ],
                [
                    "4\u6708",
                    430
                ],
                [
                    "5\u6708",
                    590
                ],
                [
                    "6\u6708",
                    0
                ],
                [
                    "7\u6708",
                    0
                ],
                [
                    "8\u6708",
                    0
                ],
                [
                    "9\u6708",
                    0
                ],
                [
                    "10\u6708",
                    0
                ],
                [
                    "11\u6708",
                    0
                ],
                [
                    "12\u6708",
                    0
                ]
            ],
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "fontSize": 12
                },
                "data": [
                    {
                        "type": "max"
                    }
                ]
            }
        }
    ],
    "legend": [
        {
            "data": [
                "2018",
                "2019"
            ],
            "selected": {
                "2018": true,
                "2019": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "1\u6708",
                "2\u6708",
                "3\u6708",
                "4\u6708",
                "5\u6708",
                "6\u6708",
                "7\u6708",
                "8\u6708",
                "9\u6708",
                "10\u6708",
                "11\u6708",
                "12\u6708"
            ]
        }
    ],
    "title": [
        {
            "text": "\u6708",
            "subtext": "month"
        }
    ]
};
        chart_b792f08ba8e54ffb906af092466efce2.setOption(option_b792f08ba8e54ffb906af092466efce2);
    </script>
<br/>        <div id="2c395827da3a411c93d1965a48096f75" style="width:900px; height:500px;"></div>
    <script>
        var chart_2c395827da3a411c93d1965a48096f75 = echarts.init(
            document.getElementById('2c395827da3a411c93d1965a48096f75'), 'white', {renderer: 'canvas'});
        var option_2c395827da3a411c93d1965a48096f75 = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "eachhour",
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "1\u70b9",
                    115
                ],
                [
                    "2\u70b9",
                    49
                ],
                [
                    "3\u70b9",
                    0
                ],
                [
                    "4\u70b9",
                    0
                ],
                [
                    "5\u70b9",
                    0
                ],
                [
                    "6\u70b9",
                    0
                ],
                [
                    "7\u70b9",
                    0
                ],
                [
                    "8\u70b9",
                    8
                ],
                [
                    "9\u70b9",
                    65
                ],
                [
                    "10\u70b9",
                    128
                ],
                [
                    "11\u70b9",
                    262
                ],
                [
                    "12\u70b9",
                    206
                ],
                [
                    "13\u70b9",
                    100
                ],
                [
                    "14\u70b9",
                    172
                ],
                [
                    "15\u70b9",
                    277
                ],
                [
                    "16\u70b9",
                    295
                ],
                [
                    "17\u70b9",
                    278
                ],
                [
                    "18\u70b9",
                    285
                ],
                [
                    "19\u70b9",
                    331
                ],
                [
                    "20\u70b9",
                    183
                ],
                [
                    "21\u70b9",
                    87
                ],
                [
                    "22\u70b9",
                    205
                ],
                [
                    "23\u70b9",
                    88
                ],
                [
                    "24\u70b9",
                    157
                ]
            ],
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "fontSize": 12
                },
                "data": [
                    {
                        "type": "max"
                    }
                ]
            },
            "markLine": {
                "silent": false,
                "precision": 2,
                "label": {
                    "show": true,
                    "position": "top",
                    "fontSize": 12
                },
                "data": [
                    {
                        "type": "average"
                    }
                ]
            }
        }
    ],
    "legend": [
        {
            "data": [
                "eachhour"
            ],
            "selected": {
                "eachhour": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "1\u70b9",
                "2\u70b9",
                "3\u70b9",
                "4\u70b9",
                "5\u70b9",
                "6\u70b9",
                "7\u70b9",
                "8\u70b9",
                "9\u70b9",
                "10\u70b9",
                "11\u70b9",
                "12\u70b9",
                "13\u70b9",
                "14\u70b9",
                "15\u70b9",
                "16\u70b9",
                "17\u70b9",
                "18\u70b9",
                "19\u70b9",
                "20\u70b9",
                "21\u70b9",
                "22\u70b9",
                "23\u70b9",
                "24\u70b9"
            ]
        }
    ],
    "title": [
        {
            "text": "\u65f6",
            "subtext": "hour"
        }
    ]
};
        chart_2c395827da3a411c93d1965a48096f75.setOption(option_2c395827da3a411c93d1965a48096f75);
    </script>
<br/>        <div id="a43ce57e14e148119cadd50cf3960636" style="width:900px; height:500px;"></div>
    <script>
        var chart_a43ce57e14e148119cadd50cf3960636 = echarts.init(
            document.getElementById('a43ce57e14e148119cadd50cf3960636'), 'white', {renderer: 'canvas'});
        var option_a43ce57e14e148119cadd50cf3960636 = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "wordCloud",
            "shape": "diamond",
            "rotationRange": [
                0,
                0
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                20,
                100
            ],
            "data": [
                {
                    "name": "\u56fe\u7247",
                    "value": 0.3092518084129223,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(140,158,0)"
                        }
                    }
                },
                {
                    "name": "\u8868\u60c5",
                    "value": 0.13075331243943625,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(113,39,147)"
                        }
                    }
                },
                {
                    "name": "html",
                    "value": 0.06189429004377756,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(25,98,86)"
                        }
                    }
                },
                {
                    "name": "log",
                    "value": 0.06036603596862256,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(80,94,105)"
                        }
                    }
                },
                {
                    "name": "function",
                    "value": 0.055017146705580056,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(2,65,39)"
                        }
                    }
                },
                {
                    "name": "ion",
                    "value": 0.054253019668002556,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(14,153,105)"
                        }
                    }
                },
                {
                    "name": "QQ",
                    "value": 0.053488892630425056,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(124,28,24)"
                        }
                    }
                },
                {
                    "name": "item",
                    "value": 0.053488892630425056,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(80,112,29)"
                        }
                    }
                },
                {
                    "name": "var",
                    "value": 0.053488892630425056,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(8,9,128)"
                        }
                    }
                },
                {
                    "name": "com",
                    "value": 0.052724765592847556,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(49,86,38)"
                        }
                    }
                },
                {
                    "name": "console",
                    "value": 0.04661174929222755,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(51,131,141)"
                        }
                    }
                },
                {
                    "name": "\u53d1\u9001",
                    "value": 0.042355396335097474,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(96,92,20)"
                        }
                    }
                },
                {
                    "name": "https",
                    "value": 0.03897047891645254,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(37,101,105)"
                        }
                    }
                },
                {
                    "name": "import",
                    "value": 0.035913970766142535,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(72,60,52)"
                        }
                    }
                },
                {
                    "name": "style",
                    "value": 0.034385716690987535,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(146,133,121)"
                        }
                    }
                },
                {
                    "name": "return",
                    "value": 0.034385716690987535,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(34,49,74)"
                        }
                    }
                },
                {
                    "name": "title",
                    "value": 0.03132920854067753,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(35,42,105)"
                        }
                    }
                },
                {
                    "name": "index",
                    "value": 0.02980095446552253,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(102,42,77)"
                        }
                    }
                },
                {
                    "name": "data",
                    "value": 0.02980095446552253,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(35,104,135)"
                        }
                    }
                },
                {
                    "name": "input",
                    "value": 0.029036827427945028,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(40,82,34)"
                        }
                    }
                },
                {
                    "name": "\u67e5\u770b",
                    "value": 0.02894384477033557,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(119,68,87)"
                        }
                    }
                },
                {
                    "name": "id",
                    "value": 0.028272700390367528,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(69,156,104)"
                        }
                    }
                },
                {
                    "name": "\u6296\u52a8",
                    "value": 0.027802049180272927,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(38,85,136)"
                        }
                    }
                },
                {
                    "name": "\u624b\u673a",
                    "value": 0.02721992369065388,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(99,4,74)"
                        }
                    }
                },
                {
                    "name": "type",
                    "value": 0.026744446315212528,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(122,91,61)"
                        }
                    }
                },
                {
                    "name": "KB",
                    "value": 0.025980319277635024,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(92,127,78)"
                        }
                    }
                },
                {
                    "name": "\u79bb\u7ebf",
                    "value": 0.02559669321245126,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(148,3,16)"
                        }
                    }
                },
                {
                    "name": "js",
                    "value": 0.025216192240057524,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(146,147,118)"
                        }
                    }
                },
                {
                    "name": "class",
                    "value": 0.024452065202480024,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(91,5,111)"
                        }
                    }
                },
                {
                    "name": "body",
                    "value": 0.023687938164902524,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(20,82,72)"
                        }
                    }
                },
                {
                    "name": "app",
                    "value": 0.023687938164902524,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(88,7,146)"
                        }
                    }
                },
                {
                    "name": "div",
                    "value": 0.023687938164902524,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(149,78,121)"
                        }
                    }
                },
                {
                    "name": "\u6587\u4ef6",
                    "value": 0.023630887419137107,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(19,34,136)"
                        }
                    }
                },
                {
                    "name": "\u7a97\u53e3",
                    "value": 0.023619109336689037,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(79,84,118)"
                        }
                    }
                },
                {
                    "name": "\u7248\u672c",
                    "value": 0.023261237317675935,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(45,7,99)"
                        }
                    }
                },
                {
                    "name": "button",
                    "value": 0.022923811127325024,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(130,97,110)"
                        }
                    }
                },
                {
                    "name": "width",
                    "value": 0.022923811127325024,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(95,16,127)"
                        }
                    }
                },
                {
                    "name": "height",
                    "value": 0.022923811127325024,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(121,112,113)"
                        }
                    }
                },
                {
                    "name": "color",
                    "value": 0.022923811127325024,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(105,136,17)"
                        }
                    }
                },
                {
                    "name": "\u4f7f\u7528",
                    "value": 0.0225165481327977,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(39,106,55)"
                        }
                    }
                },
                {
                    "name": "head",
                    "value": 0.02139555705217002,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(82,91,141)"
                        }
                    }
                },
                {
                    "name": "12",
                    "value": 0.02139555705217002,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(88,12,120)"
                        }
                    }
                },
                {
                    "name": "err",
                    "value": 0.02139555705217002,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(59,113,28)"
                        }
                    }
                },
                {
                    "name": "arr",
                    "value": 0.02063143001459252,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(82,158,131)"
                        }
                    }
                },
                {
                    "name": "\u6700\u65b0",
                    "value": 0.020071935433416427,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(112,3,127)"
                        }
                    }
                },
                {
                    "name": "background",
                    "value": 0.01986730297701502,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(126,78,137)"
                        }
                    }
                },
                {
                    "name": "else",
                    "value": 0.01986730297701502,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(29,50,57)"
                        }
                    }
                },
                {
                    "name": "Component",
                    "value": 0.01986730297701502,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(96,63,119)"
                        }
                    }
                },
                {
                    "name": "\u6700\u65b0\u7248",
                    "value": 0.019416631565496965,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(73,13,149)"
                        }
                    }
                },
                {
                    "name": "10",
                    "value": 0.018339048901860017,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(39,152,113)"
                        }
                    }
                },
                {
                    "name": "script",
                    "value": 0.018339048901860017,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(32,31,110)"
                        }
                    }
                },
                {
                    "name": "require",
                    "value": 0.018339048901860017,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(28,41,96)"
                        }
                    }
                },
                {
                    "name": "res",
                    "value": 0.018339048901860017,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(87,140,77)"
                        }
                    }
                },
                {
                    "name": "\u6bd4\u5fc3",
                    "value": 0.018339048901860017,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(43,9,25)"
                        }
                    }
                },
                {
                    "name": "localStorage",
                    "value": 0.017574921864282517,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(31,47,2)"
                        }
                    }
                },
                {
                    "name": "child",
                    "value": 0.017574921864282517,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(27,31,28)"
                        }
                    }
                },
                {
                    "name": "top",
                    "value": 0.017574921864282517,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(47,114,117)"
                        }
                    }
                },
                {
                    "name": "\u679c\u513f",
                    "value": 0.017070893851888785,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(119,30,9)"
                        }
                    }
                },
                {
                    "name": "\u4e00\u4f1a",
                    "value": 0.017066552121940554,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(154,10,122)"
                        }
                    }
                },
                {
                    "name": "qq",
                    "value": 0.016810794826705017,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(144,45,128)"
                        }
                    }
                },
                {
                    "name": "name",
                    "value": 0.016810794826705017,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(76,125,91)"
                        }
                    }
                },
                {
                    "name": "http",
                    "value": 0.016810794826705017,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(80,116,107)"
                        }
                    }
                },
                {
                    "name": "ul",
                    "value": 0.016046667789127517,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(3,110,102)"
                        }
                    }
                },
                {
                    "name": "value",
                    "value": 0.016046667789127517,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(122,140,50)"
                        }
                    }
                },
                {
                    "name": "\u60a8\u597d",
                    "value": 0.015624507663427292,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(76,83,133)"
                        }
                    }
                },
                {
                    "name": "\u4e00\u4e2a",
                    "value": 0.015307883197893894,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(11,147,11)"
                        }
                    }
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u5de8\u8349\u7387\u7684\u8bcd\u4e91"
        }
    ]
};
        chart_a43ce57e14e148119cadd50cf3960636.setOption(option_a43ce57e14e148119cadd50cf3960636);
    </script>
<br/></body>
</html>
