<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-wordcloud.min.js"></script>

</head>
<body>
        <div id="80f68d485b1d40ee8fdd24c47143054d" style="width:900px; height:500px;"></div>
    <script>
        var chart_80f68d485b1d40ee8fdd24c47143054d = echarts.init(
            document.getElementById('80f68d485b1d40ee8fdd24c47143054d'), 'white', {renderer: 'canvas'});
        var option_80f68d485b1d40ee8fdd24c47143054d = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u50bb\u5b50\u5427\u4f60",
            "data": [
                4484,
                23703,
                126
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u50bb\u5b50\u5427\u4f60"
            ],
            "selected": {
                "\u50bb\u5b50\u5427\u4f60": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                2016,
                2017,
                2018
            ]
        }
    ],
    "title": [
        {
            "text": "\u5e74",
            "subtext": "year"
        }
    ]
};
        chart_80f68d485b1d40ee8fdd24c47143054d.setOption(option_80f68d485b1d40ee8fdd24c47143054d);
    </script>
<br/>        <div id="62e88a97f5b94e7497695678730a8ecb" style="width:900px; height:500px;"></div>
    <script>
        var chart_62e88a97f5b94e7497695678730a8ecb = echarts.init(
            document.getElementById('62e88a97f5b94e7497695678730a8ecb'), 'white', {renderer: 'canvas'});
        var option_62e88a97f5b94e7497695678730a8ecb = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "2016",
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "1\u6708",
                    0
                ],
                [
                    "2\u6708",
                    0
                ],
                [
                    "3\u6708",
                    0
                ],
                [
                    "4\u6708",
                    0
                ],
                [
                    "5\u6708",
                    0
                ],
                [
                    "6\u6708",
                    0
                ],
                [
                    "7\u6708",
                    0
                ],
                [
                    "8\u6708",
                    0
                ],
                [
                    "9\u6708",
                    165
                ],
                [
                    "10\u6708",
                    282
                ],
                [
                    "11\u6708",
                    710
                ],
                [
                    "12\u6708",
                    3326
                ]
            ],
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "fontSize": 12
                },
                "data": [
                    {
                        "type": "max"
                    }
                ]
            }
        },
        {
            "type": "line",
            "name": "2017",
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "1\u6708",
                    1607
                ],
                [
                    "2\u6708",
                    300
                ],
                [
                    "3\u6708",
                    2051
                ],
                [
                    "4\u6708",
                    2278
                ],
                [
                    "5\u6708",
                    3051
                ],
                [
                    "6\u6708",
                    1703
                ],
                [
                    "7\u6708",
                    1543
                ],
                [
                    "8\u6708",
                    4489
                ],
                [
                    "9\u6708",
                    3644
                ],
                [
                    "10\u6708",
                    851
                ],
                [
                    "11\u6708",
                    1265
                ],
                [
                    "12\u6708",
                    917
                ]
            ],
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "fontSize": 12
                },
                "data": [
                    {
                        "type": "max"
                    }
                ]
            }
        },
        {
            "type": "line",
            "name": "2018",
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "1\u6708",
                    126
                ],
                [
                    "2\u6708",
                    0
                ],
                [
                    "3\u6708",
                    0
                ],
                [
                    "4\u6708",
                    0
                ],
                [
                    "5\u6708",
                    0
                ],
                [
                    "6\u6708",
                    0
                ],
                [
                    "7\u6708",
                    0
                ],
                [
                    "8\u6708",
                    0
                ],
                [
                    "9\u6708",
                    0
                ],
                [
                    "10\u6708",
                    0
                ],
                [
                    "11\u6708",
                    0
                ],
                [
                    "12\u6708",
                    0
                ]
            ],
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "fontSize": 12
                },
                "data": [
                    {
                        "type": "max"
                    }
                ]
            }
        }
    ],
    "legend": [
        {
            "data": [
                "2016",
                "2017",
                "2018"
            ],
            "selected": {
                "2016": true,
                "2017": true,
                "2018": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "1\u6708",
                "2\u6708",
                "3\u6708",
                "4\u6708",
                "5\u6708",
                "6\u6708",
                "7\u6708",
                "8\u6708",
                "9\u6708",
                "10\u6708",
                "11\u6708",
                "12\u6708"
            ]
        }
    ],
    "title": [
        {
            "text": "\u6708",
            "subtext": "month"
        }
    ]
};
        chart_62e88a97f5b94e7497695678730a8ecb.setOption(option_62e88a97f5b94e7497695678730a8ecb);
    </script>
<br/>        <div id="a42c5870775848919292c7cb4e02558e" style="width:900px; height:500px;"></div>
    <script>
        var chart_a42c5870775848919292c7cb4e02558e = echarts.init(
            document.getElementById('a42c5870775848919292c7cb4e02558e'), 'white', {renderer: 'canvas'});
        var option_a42c5870775848919292c7cb4e02558e = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "eachhour",
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "1\u70b9",
                    998
                ],
                [
                    "2\u70b9",
                    36
                ],
                [
                    "3\u70b9",
                    0
                ],
                [
                    "4\u70b9",
                    1
                ],
                [
                    "5\u70b9",
                    0
                ],
                [
                    "6\u70b9",
                    3
                ],
                [
                    "7\u70b9",
                    11
                ],
                [
                    "8\u70b9",
                    104
                ],
                [
                    "9\u70b9",
                    230
                ],
                [
                    "10\u70b9",
                    486
                ],
                [
                    "11\u70b9",
                    217
                ],
                [
                    "12\u70b9",
                    265
                ],
                [
                    "13\u70b9",
                    492
                ],
                [
                    "14\u70b9",
                    366
                ],
                [
                    "15\u70b9",
                    178
                ],
                [
                    "16\u70b9",
                    310
                ],
                [
                    "17\u70b9",
                    335
                ],
                [
                    "18\u70b9",
                    870
                ],
                [
                    "19\u70b9",
                    1244
                ],
                [
                    "20\u70b9",
                    1558
                ],
                [
                    "21\u70b9",
                    3319
                ],
                [
                    "22\u70b9",
                    4772
                ],
                [
                    "23\u70b9",
                    6476
                ],
                [
                    "24\u70b9",
                    6037
                ]
            ],
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "fontSize": 12
                },
                "data": [
                    {
                        "type": "max"
                    }
                ]
            },
            "markLine": {
                "silent": false,
                "precision": 2,
                "label": {
                    "show": true,
                    "position": "top",
                    "fontSize": 12
                },
                "data": [
                    {
                        "type": "average"
                    }
                ]
            }
        }
    ],
    "legend": [
        {
            "data": [
                "eachhour"
            ],
            "selected": {
                "eachhour": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "1\u70b9",
                "2\u70b9",
                "3\u70b9",
                "4\u70b9",
                "5\u70b9",
                "6\u70b9",
                "7\u70b9",
                "8\u70b9",
                "9\u70b9",
                "10\u70b9",
                "11\u70b9",
                "12\u70b9",
                "13\u70b9",
                "14\u70b9",
                "15\u70b9",
                "16\u70b9",
                "17\u70b9",
                "18\u70b9",
                "19\u70b9",
                "20\u70b9",
                "21\u70b9",
                "22\u70b9",
                "23\u70b9",
                "24\u70b9"
            ]
        }
    ],
    "title": [
        {
            "text": "\u65f6",
            "subtext": "hour"
        }
    ]
};
        chart_a42c5870775848919292c7cb4e02558e.setOption(option_a42c5870775848919292c7cb4e02558e);
    </script>
<br/>        <div id="407916952792484aa5c6295f8167d2c1" style="width:900px; height:500px;"></div>
    <script>
        var chart_407916952792484aa5c6295f8167d2c1 = echarts.init(
            document.getElementById('407916952792484aa5c6295f8167d2c1'), 'white', {renderer: 'canvas'});
        var option_407916952792484aa5c6295f8167d2c1 = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "wordCloud",
            "shape": "diamond",
            "rotationRange": [
                0,
                0
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                20,
                100
            ],
            "data": [
                {
                    "name": "\u8868\u60c5",
                    "value": 1.3552289970112879,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(62,18,157)"
                        }
                    }
                },
                {
                    "name": "\u56fe\u7247",
                    "value": 0.1990790370885334,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(47,56,134)"
                        }
                    }
                },
                {
                    "name": "\u665a\u5b89",
                    "value": 0.15045812066233655,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(16,71,128)"
                        }
                    }
                },
                {
                    "name": "\u7ea0\u7ed3",
                    "value": 0.06370964600105485,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(26,88,17)"
                        }
                    }
                },
                {
                    "name": "doge",
                    "value": 0.04782538657209065,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(154,69,155)"
                        }
                    }
                },
                {
                    "name": "\u7761\u89c9",
                    "value": 0.04299805353037646,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(77,149,105)"
                        }
                    }
                },
                {
                    "name": "\u77e5\u9053",
                    "value": 0.042971037560055096,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(118,99,116)"
                        }
                    }
                },
                {
                    "name": "\u5c31\u662f",
                    "value": 0.041282676910269656,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(147,30,111)"
                        }
                    }
                },
                {
                    "name": "\u6ca1\u6709",
                    "value": 0.037006375295689994,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(87,97,80)"
                        }
                    }
                },
                {
                    "name": "QQ",
                    "value": 0.03248516823764648,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(64,140,98)"
                        }
                    }
                },
                {
                    "name": "\u611f\u89c9",
                    "value": 0.03225648522750042,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(23,152,144)"
                        }
                    }
                },
                {
                    "name": "\u4e0d\u662f",
                    "value": 0.03182430724375861,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(90,11,6)"
                        }
                    }
                },
                {
                    "name": "\u6211\u4eec",
                    "value": 0.027838078909302174,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(61,38,27)"
                        }
                    }
                },
                {
                    "name": "\u624b\u673a",
                    "value": 0.027835099294636647,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(110,131,124)"
                        }
                    }
                },
                {
                    "name": "\u53ef\u4ee5",
                    "value": 0.026787939862336536,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(136,61,147)"
                        }
                    }
                },
                {
                    "name": "\u4e00\u626f",
                    "value": 0.023568499508883057,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(56,131,48)"
                        }
                    }
                },
                {
                    "name": "\u8fd9\u4e48",
                    "value": 0.02356193809113751,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(140,112,74)"
                        }
                    }
                },
                {
                    "name": "\u644a\u624b",
                    "value": 0.02346151039385579,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(40,42,90)"
                        }
                    }
                },
                {
                    "name": "\u4f60\u4eec",
                    "value": 0.022228989847935764,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(94,28,118)"
                        }
                    }
                },
                {
                    "name": "\u5f20\u54e5",
                    "value": 0.021431187379002885,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(91,83,78)"
                        }
                    }
                },
                {
                    "name": "\u53ef\u80fd",
                    "value": 0.021147328283608588,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(118,123,127)"
                        }
                    }
                },
                {
                    "name": "\u90a3\u4e2a",
                    "value": 0.021046168180393635,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(45,152,22)"
                        }
                    }
                },
                {
                    "name": "\u4e00\u4e2a",
                    "value": 0.02062932419727964,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(108,144,89)"
                        }
                    }
                },
                {
                    "name": "\u597d\u50cf",
                    "value": 0.02035081489508124,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(68,66,96)"
                        }
                    }
                },
                {
                    "name": "\u8fd9\u4e2a",
                    "value": 0.020262390437557978,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(31,78,95)"
                        }
                    }
                },
                {
                    "name": "\u4ec0\u4e48",
                    "value": 0.019721517476434622,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(145,57,155)"
                        }
                    }
                },
                {
                    "name": "\u597d\u770b",
                    "value": 0.018491376626949784,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(98,52,95)"
                        }
                    }
                },
                {
                    "name": "\u6ca1\u4e8b",
                    "value": 0.018060979759821863,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(60,65,118)"
                        }
                    }
                },
                {
                    "name": "\u5bbf\u820d",
                    "value": 0.017994334065740757,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(64,158,131)"
                        }
                    }
                },
                {
                    "name": "\u8fd8\u662f",
                    "value": 0.017443547162023662,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(101,88,39)"
                        }
                    }
                },
                {
                    "name": "\u4eca\u5929",
                    "value": 0.01742762027463156,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(44,144,49)"
                        }
                    }
                },
                {
                    "name": "\u6709\u70b9",
                    "value": 0.01648052100669145,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(126,135,58)"
                        }
                    }
                },
                {
                    "name": "\u771f\u7684",
                    "value": 0.01647821518270998,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(123,120,136)"
                        }
                    }
                },
                {
                    "name": "\u820d\u53cb",
                    "value": 0.016263318068877024,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(20,67,152)"
                        }
                    }
                },
                {
                    "name": "\u6bd4\u8f83",
                    "value": 0.015847951862532787,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(104,96,53)"
                        }
                    }
                },
                {
                    "name": "\u559c\u6b22",
                    "value": 0.015603481939839224,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(81,41,159)"
                        }
                    }
                },
                {
                    "name": "\u660e\u5929",
                    "value": 0.015503472481983659,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(51,106,112)"
                        }
                    }
                },
                {
                    "name": "\u6211\u8981",
                    "value": 0.015340218334444171,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(69,158,47)"
                        }
                    }
                },
                {
                    "name": "\u662f\u4e0d\u662f",
                    "value": 0.014470757769396336,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(17,137,2)"
                        }
                    }
                },
                {
                    "name": "\u4e00\u4e0b",
                    "value": 0.013931664512966242,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(80,56,51)"
                        }
                    }
                },
                {
                    "name": "\u5e94\u8be5",
                    "value": 0.013877247100565735,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(21,34,141)"
                        }
                    }
                },
                {
                    "name": "\u5e7d\u7075",
                    "value": 0.013850991426879965,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(97,26,100)"
                        }
                    }
                },
                {
                    "name": "\u54ce\u5440",
                    "value": 0.013622844650451191,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(141,101,7)"
                        }
                    }
                },
                {
                    "name": "\u4f30\u8ba1",
                    "value": 0.013603635459241786,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(58,31,19)"
                        }
                    }
                },
                {
                    "name": "\u4e0d\u60f3",
                    "value": 0.013506029004819503,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(117,75,118)"
                        }
                    }
                },
                {
                    "name": "\u73a9\u6e38\u620f",
                    "value": 0.013354465160032457,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(18,2,111)"
                        }
                    }
                },
                {
                    "name": "\u6d88\u606f",
                    "value": 0.013219583173393277,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(10,64,42)"
                        }
                    }
                },
                {
                    "name": "\u81ea\u5df1",
                    "value": 0.012963836214977448,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(56,19,87)"
                        }
                    }
                },
                {
                    "name": "\u8fd8\u6709",
                    "value": 0.0127685747846425,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(136,94,28)"
                        }
                    }
                },
                {
                    "name": "\u65f6\u5019",
                    "value": 0.012706077677241901,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(151,152,156)"
                        }
                    }
                },
                {
                    "name": "\u7ea2\u5305",
                    "value": 0.012404031438526596,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(100,1,27)"
                        }
                    }
                },
                {
                    "name": "\u7535\u8111",
                    "value": 0.012325227574580794,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(117,147,53)"
                        }
                    }
                },
                {
                    "name": "\u4e0d\u4f1a",
                    "value": 0.012237899597971807,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(18,133,85)"
                        }
                    }
                },
                {
                    "name": "\u5389\u5bb3",
                    "value": 0.01189051368896326,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(77,92,35)"
                        }
                    }
                },
                {
                    "name": "\u4e00\u4f1a",
                    "value": 0.011535555386885816,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(139,3,106)"
                        }
                    }
                },
                {
                    "name": "\u73b0\u5728",
                    "value": 0.0114151562256298,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(23,23,68)"
                        }
                    }
                },
                {
                    "name": "\u7136\u540e",
                    "value": 0.011248801894604194,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(61,64,71)"
                        }
                    }
                },
                {
                    "name": "\u4e00\u70b9",
                    "value": 0.011196707294911025,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(22,80,21)"
                        }
                    }
                },
                {
                    "name": "\u65e9\u70b9",
                    "value": 0.011194695803832583,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(124,10,58)"
                        }
                    }
                },
                {
                    "name": "\u5b66\u6821",
                    "value": 0.011063633833236844,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(123,13,68)"
                        }
                    }
                },
                {
                    "name": "\u4e0d\u7528",
                    "value": 0.010999007044082238,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(63,76,99)"
                        }
                    }
                },
                {
                    "name": "\u770b\u770b",
                    "value": 0.010924415992847734,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(153,56,71)"
                        }
                    }
                },
                {
                    "name": "\u5b66\u4e60",
                    "value": 0.010901665912309174,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(134,69,137)"
                        }
                    }
                },
                {
                    "name": "\u7184\u706f",
                    "value": 0.010683212817472119,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(154,94,109)"
                        }
                    }
                },
                {
                    "name": "\u4f46\u662f",
                    "value": 0.010474829809213293,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(12,130,126)"
                        }
                    }
                },
                {
                    "name": "\u659c\u773c",
                    "value": 0.010431646902670164,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(31,137,121)"
                        }
                    }
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u5de8\u8349\u7387\u7684\u8bcd\u4e91"
        }
    ]
};
        chart_407916952792484aa5c6295f8167d2c1.setOption(option_407916952792484aa5c6295f8167d2c1);
    </script>
<br/></body>
</html>
