<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-wordcloud.min.js"></script>

</head>
<body>
        <div id="3c8c9d555db346a3a52e0d6439272b2a" style="width:900px; height:500px;"></div>
    <script>
        var chart_3c8c9d555db346a3a52e0d6439272b2a = echarts.init(
            document.getElementById('3c8c9d555db346a3a52e0d6439272b2a'), 'white', {renderer: 'canvas'});
        var option_3c8c9d555db346a3a52e0d6439272b2a = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u738b\u5b50\u9f99",
            "data": [
                78,
                95
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u738b\u5b50\u9f99"
            ],
            "selected": {
                "\u738b\u5b50\u9f99": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                2018,
                2019
            ]
        }
    ],
    "title": [
        {
            "text": "\u5e74",
            "subtext": "year"
        }
    ]
};
        chart_3c8c9d555db346a3a52e0d6439272b2a.setOption(option_3c8c9d555db346a3a52e0d6439272b2a);
    </script>
<br/>        <div id="3d8443f6656a45f59a92e7831544b13a" style="width:900px; height:500px;"></div>
    <script>
        var chart_3d8443f6656a45f59a92e7831544b13a = echarts.init(
            document.getElementById('3d8443f6656a45f59a92e7831544b13a'), 'white', {renderer: 'canvas'});
        var option_3d8443f6656a45f59a92e7831544b13a = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "2018",
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "1\u6708",
                    0
                ],
                [
                    "2\u6708",
                    0
                ],
                [
                    "3\u6708",
                    40
                ],
                [
                    "4\u6708",
                    2
                ],
                [
                    "5\u6708",
                    18
                ],
                [
                    "6\u6708",
                    2
                ],
                [
                    "7\u6708",
                    1
                ],
                [
                    "8\u6708",
                    0
                ],
                [
                    "9\u6708",
                    2
                ],
                [
                    "10\u6708",
                    7
                ],
                [
                    "11\u6708",
                    5
                ],
                [
                    "12\u6708",
                    0
                ]
            ],
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "fontSize": 12
                },
                "data": [
                    {
                        "type": "max"
                    }
                ]
            }
        },
        {
            "type": "line",
            "name": "2019",
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "1\u6708",
                    16
                ],
                [
                    "2\u6708",
                    65
                ],
                [
                    "3\u6708",
                    8
                ],
                [
                    "4\u6708",
                    1
                ],
                [
                    "5\u6708",
                    5
                ],
                [
                    "6\u6708",
                    0
                ],
                [
                    "7\u6708",
                    0
                ],
                [
                    "8\u6708",
                    0
                ],
                [
                    "9\u6708",
                    0
                ],
                [
                    "10\u6708",
                    0
                ],
                [
                    "11\u6708",
                    0
                ],
                [
                    "12\u6708",
                    0
                ]
            ],
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "fontSize": 12
                },
                "data": [
                    {
                        "type": "max"
                    }
                ]
            }
        }
    ],
    "legend": [
        {
            "data": [
                "2018",
                "2019"
            ],
            "selected": {
                "2018": true,
                "2019": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "1\u6708",
                "2\u6708",
                "3\u6708",
                "4\u6708",
                "5\u6708",
                "6\u6708",
                "7\u6708",
                "8\u6708",
                "9\u6708",
                "10\u6708",
                "11\u6708",
                "12\u6708"
            ]
        }
    ],
    "title": [
        {
            "text": "\u6708",
            "subtext": "month"
        }
    ]
};
        chart_3d8443f6656a45f59a92e7831544b13a.setOption(option_3d8443f6656a45f59a92e7831544b13a);
    </script>
<br/>        <div id="8820513de108417b9a9a68cdc169372d" style="width:900px; height:500px;"></div>
    <script>
        var chart_8820513de108417b9a9a68cdc169372d = echarts.init(
            document.getElementById('8820513de108417b9a9a68cdc169372d'), 'white', {renderer: 'canvas'});
        var option_8820513de108417b9a9a68cdc169372d = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "eachhour",
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "1\u70b9",
                    1
                ],
                [
                    "2\u70b9",
                    0
                ],
                [
                    "3\u70b9",
                    0
                ],
                [
                    "4\u70b9",
                    0
                ],
                [
                    "5\u70b9",
                    0
                ],
                [
                    "6\u70b9",
                    0
                ],
                [
                    "7\u70b9",
                    1
                ],
                [
                    "8\u70b9",
                    0
                ],
                [
                    "9\u70b9",
                    4
                ],
                [
                    "10\u70b9",
                    36
                ],
                [
                    "11\u70b9",
                    6
                ],
                [
                    "12\u70b9",
                    4
                ],
                [
                    "13\u70b9",
                    8
                ],
                [
                    "14\u70b9",
                    60
                ],
                [
                    "15\u70b9",
                    8
                ],
                [
                    "16\u70b9",
                    3
                ],
                [
                    "17\u70b9",
                    2
                ],
                [
                    "18\u70b9",
                    7
                ],
                [
                    "19\u70b9",
                    2
                ],
                [
                    "20\u70b9",
                    9
                ],
                [
                    "21\u70b9",
                    10
                ],
                [
                    "22\u70b9",
                    5
                ],
                [
                    "23\u70b9",
                    4
                ],
                [
                    "24\u70b9",
                    2
                ]
            ],
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "fontSize": 12
                },
                "data": [
                    {
                        "type": "max"
                    }
                ]
            },
            "markLine": {
                "silent": false,
                "precision": 2,
                "label": {
                    "show": true,
                    "position": "top",
                    "fontSize": 12
                },
                "data": [
                    {
                        "type": "average"
                    }
                ]
            }
        }
    ],
    "legend": [
        {
            "data": [
                "eachhour"
            ],
            "selected": {
                "eachhour": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "1\u70b9",
                "2\u70b9",
                "3\u70b9",
                "4\u70b9",
                "5\u70b9",
                "6\u70b9",
                "7\u70b9",
                "8\u70b9",
                "9\u70b9",
                "10\u70b9",
                "11\u70b9",
                "12\u70b9",
                "13\u70b9",
                "14\u70b9",
                "15\u70b9",
                "16\u70b9",
                "17\u70b9",
                "18\u70b9",
                "19\u70b9",
                "20\u70b9",
                "21\u70b9",
                "22\u70b9",
                "23\u70b9",
                "24\u70b9"
            ]
        }
    ],
    "title": [
        {
            "text": "\u65f6",
            "subtext": "hour"
        }
    ]
};
        chart_8820513de108417b9a9a68cdc169372d.setOption(option_8820513de108417b9a9a68cdc169372d);
    </script>
<br/>        <div id="6e17492c81aa48a5bae92c22d029cfb5" style="width:900px; height:500px;"></div>
    <script>
        var chart_6e17492c81aa48a5bae92c22d029cfb5 = echarts.init(
            document.getElementById('6e17492c81aa48a5bae92c22d029cfb5'), 'white', {renderer: 'canvas'});
        var option_6e17492c81aa48a5bae92c22d029cfb5 = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u738b\u5b50\u9f99",
            "data": [
                36,
                5,
                70,
                4,
                6,
                4,
                4,
                6,
                5
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u738b\u5b50\u9f99"
            ],
            "selected": {
                "\u738b\u5b50\u9f99": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u56fe\u7247",
                "\u79bb\u7ebf",
                "\u5c11\u6770",
                "cn",
                "http",
                "KB",
                "\u5361\u53f7",
                "\u53d1\u9001",
                "\u63a5\u6536"
            ]
        }
    ],
    "title": [
        {
            "text": "\u9ad8\u9891\u7387\u8bcd\u6c47\u8349\u7387\u6c47\u603b",
            "subtext": "\u8349\u7387"
        }
    ]
};
        chart_6e17492c81aa48a5bae92c22d029cfb5.setOption(option_6e17492c81aa48a5bae92c22d029cfb5);
    </script>
<br/>        <div id="6f90a39154d1435199a83be04b8a9809" style="width:900px; height:500px;"></div>
    <script>
        var chart_6f90a39154d1435199a83be04b8a9809 = echarts.init(
            document.getElementById('6f90a39154d1435199a83be04b8a9809'), 'white', {renderer: 'canvas'});
        var option_6f90a39154d1435199a83be04b8a9809 = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "wordCloud",
            "shape": "diamond",
            "rotationRange": [
                0,
                0
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                20,
                100
            ],
            "data": [
                {
                    "name": "\u56fe\u7247",
                    "value": 0.563837726267027,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(59,129,85)"
                        }
                    }
                },
                {
                    "name": "\u79bb\u7ebf",
                    "value": 0.15373935246805898,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(115,122,150)"
                        }
                    }
                },
                {
                    "name": "\u5c11\u6770",
                    "value": 0.14686446563759215,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(62,69,89)"
                        }
                    }
                },
                {
                    "name": "cn",
                    "value": 0.11749157251007371,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(91,89,72)"
                        }
                    }
                },
                {
                    "name": "http",
                    "value": 0.11749157251007371,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(143,76,85)"
                        }
                    }
                },
                {
                    "name": "KB",
                    "value": 0.11749157251007371,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(32,127,0)"
                        }
                    }
                },
                {
                    "name": "\u5361\u53f7",
                    "value": 0.11617922467125306,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(4,160,41)"
                        }
                    }
                },
                {
                    "name": "\u53d1\u9001",
                    "value": 0.11492704304019656,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(128,29,34)"
                        }
                    }
                },
                {
                    "name": "\u63a5\u6536",
                    "value": 0.09311927957899263,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(86,99,151)"
                        }
                    }
                },
                {
                    "name": "\u6587\u4ef6",
                    "value": 0.09083666674997544,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(151,85,96)"
                        }
                    }
                },
                {
                    "name": "\u6302\u673a",
                    "value": 0.09059881871867322,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(113,103,96)"
                        }
                    }
                },
                {
                    "name": "www",
                    "value": 0.08811867938255528,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(39,85,30)"
                        }
                    }
                },
                {
                    "name": "\u53d1\u8d22",
                    "value": 0.08631630309149878,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(80,12,148)"
                        }
                    }
                },
                {
                    "name": "\u8868\u60c5",
                    "value": 0.0846150105938575,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(43,130,20)"
                        }
                    }
                },
                {
                    "name": "\u5783\u573e",
                    "value": 0.07852462907066339,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(118,62,39)"
                        }
                    }
                },
                {
                    "name": "\u72d7\u8d3c",
                    "value": 0.07816835960196561,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(118,60,108)"
                        }
                    }
                },
                {
                    "name": "\u5bf9\u65b9",
                    "value": 0.07498522492862408,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(60,141,136)"
                        }
                    }
                },
                {
                    "name": "\u5b66\u5b66",
                    "value": 0.07348048171437346,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(54,24,145)"
                        }
                    }
                },
                {
                    "name": "\u6210\u529f",
                    "value": 0.06516116591130222,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(32,94,115)"
                        }
                    }
                },
                {
                    "name": "\u5e0c\u671b",
                    "value": 0.06394764465823097,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(156,0,146)"
                        }
                    }
                },
                {
                    "name": "\u4e60\u9898",
                    "value": 0.05950328345307125,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(77,71,12)"
                        }
                    }
                },
                {
                    "name": "talk",
                    "value": 0.058745786255036854,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(110,57,56)"
                        }
                    }
                },
                {
                    "name": "https",
                    "value": 0.058745786255036854,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(105,80,31)"
                        }
                    }
                },
                {
                    "name": "com",
                    "value": 0.058745786255036854,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(149,88,32)"
                        }
                    }
                },
                {
                    "name": "act",
                    "value": 0.058745786255036854,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(67,130,77)"
                        }
                    }
                },
                {
                    "name": "dy821",
                    "value": 0.058745786255036854,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(9,158,141)"
                        }
                    }
                },
                {
                    "name": "krjgkjKUJYHTGRGEFEFJYFE",
                    "value": 0.058745786255036854,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(90,24,61)"
                        }
                    }
                },
                {
                    "name": "Web",
                    "value": 0.058745786255036854,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(73,44,36)"
                        }
                    }
                },
                {
                    "name": "II",
                    "value": 0.058745786255036854,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(83,76,144)"
                        }
                    }
                },
                {
                    "name": "pptx",
                    "value": 0.058745786255036854,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(145,137,105)"
                        }
                    }
                },
                {
                    "name": "942.05",
                    "value": 0.058745786255036854,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(58,122,117)"
                        }
                    }
                },
                {
                    "name": "steam",
                    "value": 0.058745786255036854,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(32,8,57)"
                        }
                    }
                },
                {
                    "name": "MB",
                    "value": 0.058745786255036854,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(1,117,67)"
                        }
                    }
                },
                {
                    "name": "ppt",
                    "value": 0.058745786255036854,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(73,6,110)"
                        }
                    }
                },
                {
                    "name": "doc",
                    "value": 0.058745786255036854,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(56,90,11)"
                        }
                    }
                },
                {
                    "name": "\u89e3\u573a",
                    "value": 0.058745786255036854,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(24,135,89)"
                        }
                    }
                },
                {
                    "name": "\u6253\u9752\u7389\u5fb7",
                    "value": 0.058745786255036854,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(29,25,141)"
                        }
                    }
                },
                {
                    "name": "\u4f5c\u4e1a",
                    "value": 0.053874721768820646,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(90,14,63)"
                        }
                    }
                },
                {
                    "name": "\u6e38\u620f",
                    "value": 0.05298970951046683,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(51,75,126)"
                        }
                    }
                },
                {
                    "name": "\u5145\u503c",
                    "value": 0.05143336829238329,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(53,18,107)"
                        }
                    }
                },
                {
                    "name": "\u590d\u4e60",
                    "value": 0.049712471833415234,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(62,36,33)"
                        }
                    }
                },
                {
                    "name": "\u5947\u6570",
                    "value": 0.0472924399654054,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(12,7,145)"
                        }
                    }
                },
                {
                    "name": "\u6ca1\u5e26",
                    "value": 0.04722465951267813,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(77,133,133)"
                        }
                    }
                },
                {
                    "name": "\u6076\u9b3c",
                    "value": 0.046774697873710074,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(58,150,0)"
                        }
                    }
                },
                {
                    "name": "\u524d\u4e24\u5929",
                    "value": 0.04534569443493858,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(133,49,5)"
                        }
                    }
                },
                {
                    "name": "\u6253\u6298",
                    "value": 0.043307524897985256,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(73,103,10)"
                        }
                    }
                },
                {
                    "name": "\u8bb0\u7740",
                    "value": 0.043277284772334154,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(127,60,70)"
                        }
                    }
                },
                {
                    "name": "\u751f\u5e73",
                    "value": 0.041116895151105656,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(34,41,137)"
                        }
                    }
                },
                {
                    "name": "\u5151\u6362",
                    "value": 0.04054891112437347,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(30,143,101)"
                        }
                    }
                },
                {
                    "name": "\u5bc6\u7801",
                    "value": 0.03824363859425061,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(95,73,156)"
                        }
                    }
                },
                {
                    "name": "\u5f1f\u5f1f",
                    "value": 0.03548441506697789,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(0,42,30)"
                        }
                    }
                },
                {
                    "name": "\u60f3\u88c5",
                    "value": 0.03415399914496314,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(95,33,120)"
                        }
                    }
                },
                {
                    "name": "\u820d\u53cb",
                    "value": 0.03415399914496314,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(24,43,56)"
                        }
                    }
                },
                {
                    "name": "\u5367\u69fd",
                    "value": 0.03415399914496314,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(109,50,139)"
                        }
                    }
                },
                {
                    "name": "\u6bd4\u8d5b",
                    "value": 0.033579153824668306,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(77,142,94)"
                        }
                    }
                },
                {
                    "name": "\u603b\u7ed3",
                    "value": 0.033227570771646196,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(131,31,94)"
                        }
                    }
                },
                {
                    "name": "\u4f18\u60e0",
                    "value": 0.033150183268108105,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(130,118,90)"
                        }
                    }
                },
                {
                    "name": "\u5c0f\u6770",
                    "value": 0.03245093481916462,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(27,43,58)"
                        }
                    }
                },
                {
                    "name": "\u4f1a\u4e2a",
                    "value": 0.03245093481916462,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(108,6,126)"
                        }
                    }
                },
                {
                    "name": "\u6392\u540d",
                    "value": 0.03213104226398034,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(5,40,26)"
                        }
                    }
                },
                {
                    "name": "\u4f20\u8bf4",
                    "value": 0.03174131332805897,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(92,116,29)"
                        }
                    }
                },
                {
                    "name": "\u7fbd\u6bdb\u7403\u62cd",
                    "value": 0.03145470605233416,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(109,47,138)"
                        }
                    }
                },
                {
                    "name": "\u5b8c\u6574\u7248",
                    "value": 0.030747870493611794,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(88,0,54)"
                        }
                    }
                },
                {
                    "name": "\u6b22\u8fce\u5149\u4e34",
                    "value": 0.030747870493611794,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(37,49,140)"
                        }
                    }
                },
                {
                    "name": "\u5f39\u5e55",
                    "value": 0.030747870493611794,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(7,127,157)"
                        }
                    }
                },
                {
                    "name": "\u6ca1\u6709",
                    "value": 0.030592860591154788,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(156,144,143)"
                        }
                    }
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u5de8\u8349\u7387\u7684\u8bcd\u4e91"
        }
    ]
};
        chart_6f90a39154d1435199a83be04b8a9809.setOption(option_6f90a39154d1435199a83be04b8a9809);
    </script>
<br/></body>
</html>
