<h2>thank You!</h2>
<p>We appreciate your trust.  Please <a href="/contact">contact us</a>
	if you have any questions or concerns.</p>
	<p>and <a href="/process?userid={{userid}}">show yours data</a> in here</p>
	<p>and <a href="/processes">we keep your file for ten minutes</a> only do this </p>
