<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-wordcloud.min.js"></script>

</head>
<body>
        <div id="1d6d0f24e48b48e4ab584d34ce97cb89" style="width:900px; height:500px;"></div>
    <script>
        var chart_1d6d0f24e48b48e4ab584d34ce97cb89 = echarts.init(
            document.getElementById('1d6d0f24e48b48e4ab584d34ce97cb89'), 'white', {renderer: 'canvas'});
        var option_1d6d0f24e48b48e4ab584d34ce97cb89 = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "ly",
            "data": [
                521,
                1007
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            }
        }
    ],
    "legend": [
        {
            "data": [
                "ly"
            ],
            "selected": {
                "ly": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                2018,
                2019
            ]
        }
    ],
    "title": [
        {
            "text": "\u5e74",
            "subtext": "year"
        }
    ]
};
        chart_1d6d0f24e48b48e4ab584d34ce97cb89.setOption(option_1d6d0f24e48b48e4ab584d34ce97cb89);
    </script>
<br/>        <div id="ae4c404757734eda9fd7c894b2dd6834" style="width:900px; height:500px;"></div>
    <script>
        var chart_ae4c404757734eda9fd7c894b2dd6834 = echarts.init(
            document.getElementById('ae4c404757734eda9fd7c894b2dd6834'), 'white', {renderer: 'canvas'});
        var option_ae4c404757734eda9fd7c894b2dd6834 = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "2018",
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "1\u6708",
                    0
                ],
                [
                    "2\u6708",
                    0
                ],
                [
                    "3\u6708",
                    18
                ],
                [
                    "4\u6708",
                    4
                ],
                [
                    "5\u6708",
                    11
                ],
                [
                    "6\u6708",
                    0
                ],
                [
                    "7\u6708",
                    3
                ],
                [
                    "8\u6708",
                    0
                ],
                [
                    "9\u6708",
                    32
                ],
                [
                    "10\u6708",
                    0
                ],
                [
                    "11\u6708",
                    256
                ],
                [
                    "12\u6708",
                    197
                ]
            ],
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "fontSize": 12
                },
                "data": [
                    {
                        "type": "max"
                    }
                ]
            }
        },
        {
            "type": "line",
            "name": "2019",
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "1\u6708",
                    445
                ],
                [
                    "2\u6708",
                    170
                ],
                [
                    "3\u6708",
                    210
                ],
                [
                    "4\u6708",
                    81
                ],
                [
                    "5\u6708",
                    57
                ],
                [
                    "6\u6708",
                    44
                ],
                [
                    "7\u6708",
                    0
                ],
                [
                    "8\u6708",
                    0
                ],
                [
                    "9\u6708",
                    0
                ],
                [
                    "10\u6708",
                    0
                ],
                [
                    "11\u6708",
                    0
                ],
                [
                    "12\u6708",
                    0
                ]
            ],
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "fontSize": 12
                },
                "data": [
                    {
                        "type": "max"
                    }
                ]
            }
        }
    ],
    "legend": [
        {
            "data": [
                "2018",
                "2019"
            ],
            "selected": {
                "2018": true,
                "2019": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "1\u6708",
                "2\u6708",
                "3\u6708",
                "4\u6708",
                "5\u6708",
                "6\u6708",
                "7\u6708",
                "8\u6708",
                "9\u6708",
                "10\u6708",
                "11\u6708",
                "12\u6708"
            ]
        }
    ],
    "title": [
        {
            "text": "\u6708",
            "subtext": "month"
        }
    ]
};
        chart_ae4c404757734eda9fd7c894b2dd6834.setOption(option_ae4c404757734eda9fd7c894b2dd6834);
    </script>
<br/>        <div id="fe678709587b42f1b3b01b49b54be09b" style="width:900px; height:500px;"></div>
    <script>
        var chart_fe678709587b42f1b3b01b49b54be09b = echarts.init(
            document.getElementById('fe678709587b42f1b3b01b49b54be09b'), 'white', {renderer: 'canvas'});
        var option_fe678709587b42f1b3b01b49b54be09b = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "eachhour",
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "1\u70b9",
                    144
                ],
                [
                    "2\u70b9",
                    0
                ],
                [
                    "3\u70b9",
                    0
                ],
                [
                    "4\u70b9",
                    4
                ],
                [
                    "5\u70b9",
                    0
                ],
                [
                    "6\u70b9",
                    0
                ],
                [
                    "7\u70b9",
                    0
                ],
                [
                    "8\u70b9",
                    0
                ],
                [
                    "9\u70b9",
                    1
                ],
                [
                    "10\u70b9",
                    50
                ],
                [
                    "11\u70b9",
                    7
                ],
                [
                    "12\u70b9",
                    35
                ],
                [
                    "13\u70b9",
                    2
                ],
                [
                    "14\u70b9",
                    8
                ],
                [
                    "15\u70b9",
                    6
                ],
                [
                    "16\u70b9",
                    9
                ],
                [
                    "17\u70b9",
                    34
                ],
                [
                    "18\u70b9",
                    24
                ],
                [
                    "19\u70b9",
                    77
                ],
                [
                    "20\u70b9",
                    21
                ],
                [
                    "21\u70b9",
                    84
                ],
                [
                    "22\u70b9",
                    61
                ],
                [
                    "23\u70b9",
                    512
                ],
                [
                    "24\u70b9",
                    448
                ]
            ],
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "fontSize": 12
                },
                "data": [
                    {
                        "type": "max"
                    }
                ]
            },
            "markLine": {
                "silent": false,
                "precision": 2,
                "label": {
                    "show": true,
                    "position": "top",
                    "fontSize": 12
                },
                "data": [
                    {
                        "type": "average"
                    }
                ]
            }
        }
    ],
    "legend": [
        {
            "data": [
                "eachhour"
            ],
            "selected": {
                "eachhour": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "1\u70b9",
                "2\u70b9",
                "3\u70b9",
                "4\u70b9",
                "5\u70b9",
                "6\u70b9",
                "7\u70b9",
                "8\u70b9",
                "9\u70b9",
                "10\u70b9",
                "11\u70b9",
                "12\u70b9",
                "13\u70b9",
                "14\u70b9",
                "15\u70b9",
                "16\u70b9",
                "17\u70b9",
                "18\u70b9",
                "19\u70b9",
                "20\u70b9",
                "21\u70b9",
                "22\u70b9",
                "23\u70b9",
                "24\u70b9"
            ]
        }
    ],
    "title": [
        {
            "text": "\u65f6",
            "subtext": "hour"
        }
    ]
};
        chart_fe678709587b42f1b3b01b49b54be09b.setOption(option_fe678709587b42f1b3b01b49b54be09b);
    </script>
<br/>        <div id="445eb590222e4901be46cb37218d5e5a" style="width:900px; height:500px;"></div>
    <script>
        var chart_445eb590222e4901be46cb37218d5e5a = echarts.init(
            document.getElementById('445eb590222e4901be46cb37218d5e5a'), 'white', {renderer: 'canvas'});
        var option_445eb590222e4901be46cb37218d5e5a = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "ly",
            "data": [
                425,
                92,
                20,
                25,
                60,
                42,
                52,
                31,
                45
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            }
        }
    ],
    "legend": [
        {
            "data": [
                "ly"
            ],
            "selected": {
                "ly": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u8868\u60c5",
                "\u56fe\u7247",
                "\u665a\u5b89",
                "\u65e9\u70b9",
                "\u5c31\u662f",
                "\u90a3\u4e2a",
                "\u53ef\u4ee5",
                "\u611f\u89c9",
                "\u77e5\u9053"
            ]
        }
    ],
    "title": [
        {
            "text": "\u9ad8\u9891\u7387\u8bcd\u6c47\u8349\u7387\u6c47\u603b",
            "subtext": "\u8349\u7387"
        }
    ]
};
        chart_445eb590222e4901be46cb37218d5e5a.setOption(option_445eb590222e4901be46cb37218d5e5a);
    </script>
<br/>        <div id="22d6557e617a48a89f7315b7090afad9" style="width:900px; height:500px;"></div>
    <script>
        var chart_22d6557e617a48a89f7315b7090afad9 = echarts.init(
            document.getElementById('22d6557e617a48a89f7315b7090afad9'), 'white', {renderer: 'canvas'});
        var option_22d6557e617a48a89f7315b7090afad9 = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "wordCloud",
            "shape": "diamond",
            "rotationRange": [
                0,
                0
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                20,
                100
            ],
            "data": [
                {
                    "name": "\u8868\u60c5",
                    "value": 0.8172128116958403,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(81,124,49)"
                        }
                    }
                },
                {
                    "name": "\u56fe\u7247",
                    "value": 0.16372246899887213,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(3,141,0)"
                        }
                    }
                },
                {
                    "name": "\u665a\u5b89",
                    "value": 0.06287895210720268,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(49,80,0)"
                        }
                    }
                },
                {
                    "name": "\u65e9\u70b9",
                    "value": 0.05831588642867114,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(58,58,99)"
                        }
                    }
                },
                {
                    "name": "\u5c31\u662f",
                    "value": 0.057257456488324955,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(36,154,18)"
                        }
                    }
                },
                {
                    "name": "\u90a3\u4e2a",
                    "value": 0.05564772181963149,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(146,131,151)"
                        }
                    }
                },
                {
                    "name": "\u53ef\u4ee5",
                    "value": 0.05088391990852038,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(128,41,135)"
                        }
                    }
                },
                {
                    "name": "\u611f\u89c9",
                    "value": 0.048823513949919045,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(74,135,100)"
                        }
                    }
                },
                {
                    "name": "\u77e5\u9053",
                    "value": 0.048816520312674486,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(62,133,145)"
                        }
                    }
                },
                {
                    "name": "\u4e0d\u662f",
                    "value": 0.04549464996144612,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(28,34,17)"
                        }
                    }
                },
                {
                    "name": "\u7761\u89c9",
                    "value": 0.04515694432976829,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(127,53,10)"
                        }
                    }
                },
                {
                    "name": "\u6211\u4eec",
                    "value": 0.03881743066627303,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(74,78,140)"
                        }
                    }
                },
                {
                    "name": "\u7136\u540e",
                    "value": 0.036236085192135684,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(46,89,9)"
                        }
                    }
                },
                {
                    "name": "\u8fd9\u4e2a",
                    "value": 0.03585251361316583,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(83,42,96)"
                        }
                    }
                },
                {
                    "name": "\u9a71\u52a8",
                    "value": 0.03353759674029034,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(129,0,115)"
                        }
                    }
                },
                {
                    "name": "\u8fd8\u662f",
                    "value": 0.03114567696384143,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(17,122,7)"
                        }
                    }
                },
                {
                    "name": "\u5f20\u54e5",
                    "value": 0.030037104278643215,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(70,11,82)"
                        }
                    }
                },
                {
                    "name": "\u4e00\u4e0b",
                    "value": 0.028664097988559466,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(100,72,95)"
                        }
                    }
                },
                {
                    "name": "\u597d\u50cf",
                    "value": 0.028225783441557788,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(147,157,154)"
                        }
                    }
                },
                {
                    "name": "\u6ca1\u6709",
                    "value": 0.027808585729983248,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(122,147,95)"
                        }
                    }
                },
                {
                    "name": "\u8003\u8bd5",
                    "value": 0.026981833629430487,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(59,149,114)"
                        }
                    }
                },
                {
                    "name": "\u53ef\u80fd",
                    "value": 0.02615876595288945,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(102,109,47)"
                        }
                    }
                },
                {
                    "name": "\u4f60\u4eec",
                    "value": 0.025093827371150196,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(54,116,156)"
                        }
                    }
                },
                {
                    "name": "\u770b\u770b",
                    "value": 0.024167256916314907,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(120,160,146)"
                        }
                    }
                },
                {
                    "name": "\u6ca1\u4e8b",
                    "value": 0.023703104466180906,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(53,18,25)"
                        }
                    }
                },
                {
                    "name": "\u4e00\u4f1a",
                    "value": 0.02353929365668342,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(151,46,26)"
                        }
                    }
                },
                {
                    "name": "com",
                    "value": 0.023362192216722498,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(32,73,70)"
                        }
                    }
                },
                {
                    "name": "twitter",
                    "value": 0.023362192216722498,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(53,11,90)"
                        }
                    }
                },
                {
                    "name": "\u4e3a\u5565",
                    "value": 0.02281010013679509,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(129,138,159)"
                        }
                    }
                },
                {
                    "name": "\u52a8\u753b",
                    "value": 0.022494776673366836,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(142,127,96)"
                        }
                    }
                },
                {
                    "name": "\u4eca\u5929",
                    "value": 0.02229868577031826,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(155,14,62)"
                        }
                    }
                },
                {
                    "name": "\u52a0\u6cb9",
                    "value": 0.02212795842002513,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(69,37,152)"
                        }
                    }
                },
                {
                    "name": "\u4e00\u4e2a",
                    "value": 0.022024407375667222,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(0,17,98)"
                        }
                    }
                },
                {
                    "name": "\u7b80\u5355",
                    "value": 0.021958326375069795,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(117,44,1)"
                        }
                    }
                },
                {
                    "name": "\u5b66\u4e60",
                    "value": 0.02096665483524009,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(107,133,128)"
                        }
                    }
                },
                {
                    "name": "\u4e0d\u4f1a",
                    "value": 0.02093781687675042,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(37,108,26)"
                        }
                    }
                },
                {
                    "name": "\u59da\u53ef\u5fc3",
                    "value": 0.020024736185762143,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(78,82,60)"
                        }
                    }
                },
                {
                    "name": "\u51af\u514b",
                    "value": 0.020024736185762143,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(118,116,77)"
                        }
                    }
                },
                {
                    "name": "https",
                    "value": 0.020024736185762143,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(140,4,155)"
                        }
                    }
                },
                {
                    "name": "\u4ec0\u4e48",
                    "value": 0.019915702433835843,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(9,69,103)"
                        }
                    }
                },
                {
                    "name": "\u662f\u4e0d\u662f",
                    "value": 0.01961074754110553,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(18,69,160)"
                        }
                    }
                },
                {
                    "name": "\u4f11\u606f",
                    "value": 0.019276212384159688,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(0,54,57)"
                        }
                    }
                },
                {
                    "name": "\u4f5c\u5f0a",
                    "value": 0.01926392649050251,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(127,129,99)"
                        }
                    }
                },
                {
                    "name": "\u4ed6\u4eec",
                    "value": 0.01861967445377722,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(57,98,142)"
                        }
                    }
                },
                {
                    "name": "\u5176\u5b9e",
                    "value": 0.018609390035896147,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(46,93,37)"
                        }
                    }
                },
                {
                    "name": "\u4e0d\u8fc7",
                    "value": 0.01777937840603015,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(47,15,2)"
                        }
                    }
                },
                {
                    "name": "\u624b\u673a",
                    "value": 0.0172301000226689,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(52,139,47)"
                        }
                    }
                },
                {
                    "name": "\u6709\u70b9",
                    "value": 0.01719221955,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(86,102,26)"
                        }
                    }
                },
                {
                    "name": "\u65f6\u5019",
                    "value": 0.016762269309927413,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(86,35,105)"
                        }
                    }
                },
                {
                    "name": "\u4e00\u5f20",
                    "value": 0.016750533330429928,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(149,116,62)"
                        }
                    }
                },
                {
                    "name": "MB",
                    "value": 0.016687280154801785,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(135,116,148)"
                        }
                    }
                },
                {
                    "name": "\u5965\u5965",
                    "value": 0.016687280154801785,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(80,99,22)"
                        }
                    }
                },
                {
                    "name": "qq",
                    "value": 0.016687280154801785,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(124,102,14)"
                        }
                    }
                },
                {
                    "name": "\u8881\u68a6\u5a77",
                    "value": 0.016687280154801785,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(35,126,96)"
                        }
                    }
                },
                {
                    "name": "\u90a3\u79cd",
                    "value": 0.016666978776493577,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(36,158,2)"
                        }
                    }
                },
                {
                    "name": "\u7535\u8111",
                    "value": 0.01657658963656058,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(17,136,61)"
                        }
                    }
                },
                {
                    "name": "\u6628\u5929",
                    "value": 0.016546156549497485,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(103,40,137)"
                        }
                    }
                },
                {
                    "name": "\u7f51\u7ad9",
                    "value": 0.01644160655683417,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(131,139,143)"
                        }
                    }
                },
                {
                    "name": "\u7684\u8bdd",
                    "value": 0.016408219683182578,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(139,141,17)"
                        }
                    }
                },
                {
                    "name": "\u73a9\u5427",
                    "value": 0.015823182990647684,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(90,89,147)"
                        }
                    }
                },
                {
                    "name": "\u8fd8\u6709",
                    "value": 0.015741789585951984,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(125,132,37)"
                        }
                    }
                },
                {
                    "name": "\u81ea\u5df1",
                    "value": 0.015736633538983805,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(9,15,25)"
                        }
                    }
                },
                {
                    "name": "\u65b0\u5e74\u597d",
                    "value": 0.015522811448352877,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(7,60,81)"
                        }
                    }
                },
                {
                    "name": "\u5c31\u884c\u4e86",
                    "value": 0.015500779074240648,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(82,66,24)"
                        }
                    }
                },
                {
                    "name": "\u5bbf\u820d",
                    "value": 0.015274496837604692,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(9,78,122)"
                        }
                    }
                },
                {
                    "name": "\u7184\u706f",
                    "value": 0.014910387810022333,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(45,52,37)"
                        }
                    }
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u5de8\u8349\u7387\u7684\u8bcd\u4e91"
        }
    ]
};
        chart_22d6557e617a48a89f7315b7090afad9.setOption(option_22d6557e617a48a89f7315b7090afad9);
    </script>
<br/></body>
</html>
