<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-wordcloud.min.js"></script>

</head>
<body>
        <div id="924071e6eccd4e368f908ea625c03ac2" style="width:900px; height:500px;"></div>
    <script>
        var chart_924071e6eccd4e368f908ea625c03ac2 = echarts.init(
            document.getElementById('924071e6eccd4e368f908ea625c03ac2'), 'white', {renderer: 'canvas'});
        var option_924071e6eccd4e368f908ea625c03ac2 = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "sdasd",
            "data": [
                521,
                1007
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            }
        }
    ],
    "legend": [
        {
            "data": [
                "sdasd"
            ],
            "selected": {
                "sdasd": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                2018,
                2019
            ]
        }
    ],
    "title": [
        {
            "text": "\u5e74",
            "subtext": "year"
        }
    ]
};
        chart_924071e6eccd4e368f908ea625c03ac2.setOption(option_924071e6eccd4e368f908ea625c03ac2);
    </script>
<br/>        <div id="25af2a17b7a741c89d97668072fdb774" style="width:900px; height:500px;"></div>
    <script>
        var chart_25af2a17b7a741c89d97668072fdb774 = echarts.init(
            document.getElementById('25af2a17b7a741c89d97668072fdb774'), 'white', {renderer: 'canvas'});
        var option_25af2a17b7a741c89d97668072fdb774 = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "2018",
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "1\u6708",
                    0
                ],
                [
                    "2\u6708",
                    0
                ],
                [
                    "3\u6708",
                    18
                ],
                [
                    "4\u6708",
                    4
                ],
                [
                    "5\u6708",
                    11
                ],
                [
                    "6\u6708",
                    0
                ],
                [
                    "7\u6708",
                    3
                ],
                [
                    "8\u6708",
                    0
                ],
                [
                    "9\u6708",
                    32
                ],
                [
                    "10\u6708",
                    0
                ],
                [
                    "11\u6708",
                    256
                ],
                [
                    "12\u6708",
                    197
                ]
            ],
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "fontSize": 12
                },
                "data": [
                    {
                        "type": "max"
                    }
                ]
            }
        },
        {
            "type": "line",
            "name": "2019",
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "1\u6708",
                    445
                ],
                [
                    "2\u6708",
                    170
                ],
                [
                    "3\u6708",
                    210
                ],
                [
                    "4\u6708",
                    81
                ],
                [
                    "5\u6708",
                    57
                ],
                [
                    "6\u6708",
                    44
                ],
                [
                    "7\u6708",
                    0
                ],
                [
                    "8\u6708",
                    0
                ],
                [
                    "9\u6708",
                    0
                ],
                [
                    "10\u6708",
                    0
                ],
                [
                    "11\u6708",
                    0
                ],
                [
                    "12\u6708",
                    0
                ]
            ],
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "fontSize": 12
                },
                "data": [
                    {
                        "type": "max"
                    }
                ]
            }
        }
    ],
    "legend": [
        {
            "data": [
                "2018",
                "2019"
            ],
            "selected": {
                "2018": true,
                "2019": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "1\u6708",
                "2\u6708",
                "3\u6708",
                "4\u6708",
                "5\u6708",
                "6\u6708",
                "7\u6708",
                "8\u6708",
                "9\u6708",
                "10\u6708",
                "11\u6708",
                "12\u6708"
            ]
        }
    ],
    "title": [
        {
            "text": "\u6708",
            "subtext": "month"
        }
    ]
};
        chart_25af2a17b7a741c89d97668072fdb774.setOption(option_25af2a17b7a741c89d97668072fdb774);
    </script>
<br/>        <div id="4257659a15c84db8ba923445761ff6c9" style="width:900px; height:500px;"></div>
    <script>
        var chart_4257659a15c84db8ba923445761ff6c9 = echarts.init(
            document.getElementById('4257659a15c84db8ba923445761ff6c9'), 'white', {renderer: 'canvas'});
        var option_4257659a15c84db8ba923445761ff6c9 = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "eachhour",
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "1\u70b9",
                    144
                ],
                [
                    "2\u70b9",
                    0
                ],
                [
                    "3\u70b9",
                    0
                ],
                [
                    "4\u70b9",
                    4
                ],
                [
                    "5\u70b9",
                    0
                ],
                [
                    "6\u70b9",
                    0
                ],
                [
                    "7\u70b9",
                    0
                ],
                [
                    "8\u70b9",
                    0
                ],
                [
                    "9\u70b9",
                    1
                ],
                [
                    "10\u70b9",
                    50
                ],
                [
                    "11\u70b9",
                    7
                ],
                [
                    "12\u70b9",
                    35
                ],
                [
                    "13\u70b9",
                    2
                ],
                [
                    "14\u70b9",
                    8
                ],
                [
                    "15\u70b9",
                    6
                ],
                [
                    "16\u70b9",
                    9
                ],
                [
                    "17\u70b9",
                    34
                ],
                [
                    "18\u70b9",
                    24
                ],
                [
                    "19\u70b9",
                    77
                ],
                [
                    "20\u70b9",
                    21
                ],
                [
                    "21\u70b9",
                    84
                ],
                [
                    "22\u70b9",
                    61
                ],
                [
                    "23\u70b9",
                    512
                ],
                [
                    "24\u70b9",
                    448
                ]
            ],
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "fontSize": 12
                },
                "data": [
                    {
                        "type": "max"
                    }
                ]
            },
            "markLine": {
                "silent": false,
                "precision": 2,
                "label": {
                    "show": true,
                    "position": "top",
                    "fontSize": 12
                },
                "data": [
                    {
                        "type": "average"
                    }
                ]
            }
        }
    ],
    "legend": [
        {
            "data": [
                "eachhour"
            ],
            "selected": {
                "eachhour": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "1\u70b9",
                "2\u70b9",
                "3\u70b9",
                "4\u70b9",
                "5\u70b9",
                "6\u70b9",
                "7\u70b9",
                "8\u70b9",
                "9\u70b9",
                "10\u70b9",
                "11\u70b9",
                "12\u70b9",
                "13\u70b9",
                "14\u70b9",
                "15\u70b9",
                "16\u70b9",
                "17\u70b9",
                "18\u70b9",
                "19\u70b9",
                "20\u70b9",
                "21\u70b9",
                "22\u70b9",
                "23\u70b9",
                "24\u70b9"
            ]
        }
    ],
    "title": [
        {
            "text": "\u65f6",
            "subtext": "hour"
        }
    ]
};
        chart_4257659a15c84db8ba923445761ff6c9.setOption(option_4257659a15c84db8ba923445761ff6c9);
    </script>
<br/>        <div id="5dadf826ede344d49526073e21c155f2" style="width:900px; height:500px;"></div>
    <script>
        var chart_5dadf826ede344d49526073e21c155f2 = echarts.init(
            document.getElementById('5dadf826ede344d49526073e21c155f2'), 'white', {renderer: 'canvas'});
        var option_5dadf826ede344d49526073e21c155f2 = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "ly",
            "data": [
                425,
                92,
                20,
                25,
                60,
                42,
                52,
                31,
                45
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            }
        }
    ],
    "legend": [
        {
            "data": [
                "ly"
            ],
            "selected": {
                "ly": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u8868\u60c5",
                "\u56fe\u7247",
                "\u665a\u5b89",
                "\u65e9\u70b9",
                "\u5c31\u662f",
                "\u90a3\u4e2a",
                "\u53ef\u4ee5",
                "\u611f\u89c9",
                "\u77e5\u9053"
            ]
        }
    ],
    "title": [
        {
            "text": "\u9ad8\u9891\u7387\u8bcd\u6c47\u8349\u7387\u6c47\u603b",
            "subtext": "\u8349\u7387"
        }
    ]
};
        chart_5dadf826ede344d49526073e21c155f2.setOption(option_5dadf826ede344d49526073e21c155f2);
    </script>
<br/>        <div id="fb4b20220b7b4273a012941b864c5c80" style="width:900px; height:500px;"></div>
    <script>
        var chart_fb4b20220b7b4273a012941b864c5c80 = echarts.init(
            document.getElementById('fb4b20220b7b4273a012941b864c5c80'), 'white', {renderer: 'canvas'});
        var option_fb4b20220b7b4273a012941b864c5c80 = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "wordCloud",
            "shape": "diamond",
            "rotationRange": [
                0,
                0
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                20,
                100
            ],
            "data": [
                {
                    "name": "\u8868\u60c5",
                    "value": 0.8172128116958403,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(1,105,8)"
                        }
                    }
                },
                {
                    "name": "\u56fe\u7247",
                    "value": 0.16372246899887213,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(74,41,54)"
                        }
                    }
                },
                {
                    "name": "\u665a\u5b89",
                    "value": 0.06287895210720268,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(43,71,65)"
                        }
                    }
                },
                {
                    "name": "\u65e9\u70b9",
                    "value": 0.05831588642867114,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(31,69,78)"
                        }
                    }
                },
                {
                    "name": "\u5c31\u662f",
                    "value": 0.057257456488324955,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(7,21,75)"
                        }
                    }
                },
                {
                    "name": "\u90a3\u4e2a",
                    "value": 0.05564772181963149,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(32,133,83)"
                        }
                    }
                },
                {
                    "name": "\u53ef\u4ee5",
                    "value": 0.05088391990852038,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(146,150,61)"
                        }
                    }
                },
                {
                    "name": "\u611f\u89c9",
                    "value": 0.048823513949919045,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(70,136,9)"
                        }
                    }
                },
                {
                    "name": "\u77e5\u9053",
                    "value": 0.048816520312674486,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(113,39,160)"
                        }
                    }
                },
                {
                    "name": "\u4e0d\u662f",
                    "value": 0.04549464996144612,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(58,58,16)"
                        }
                    }
                },
                {
                    "name": "\u7761\u89c9",
                    "value": 0.04515694432976829,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(53,36,104)"
                        }
                    }
                },
                {
                    "name": "\u6211\u4eec",
                    "value": 0.03881743066627303,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(123,11,136)"
                        }
                    }
                },
                {
                    "name": "\u7136\u540e",
                    "value": 0.036236085192135684,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(92,25,65)"
                        }
                    }
                },
                {
                    "name": "\u8fd9\u4e2a",
                    "value": 0.03585251361316583,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(35,110,131)"
                        }
                    }
                },
                {
                    "name": "\u9a71\u52a8",
                    "value": 0.03353759674029034,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(67,65,124)"
                        }
                    }
                },
                {
                    "name": "\u8fd8\u662f",
                    "value": 0.03114567696384143,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(37,60,111)"
                        }
                    }
                },
                {
                    "name": "\u5f20\u54e5",
                    "value": 0.030037104278643215,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(63,153,78)"
                        }
                    }
                },
                {
                    "name": "\u4e00\u4e0b",
                    "value": 0.028664097988559466,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(60,106,53)"
                        }
                    }
                },
                {
                    "name": "\u597d\u50cf",
                    "value": 0.028225783441557788,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(25,159,68)"
                        }
                    }
                },
                {
                    "name": "\u6ca1\u6709",
                    "value": 0.027808585729983248,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(157,35,74)"
                        }
                    }
                },
                {
                    "name": "\u8003\u8bd5",
                    "value": 0.026981833629430487,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(139,111,76)"
                        }
                    }
                },
                {
                    "name": "\u53ef\u80fd",
                    "value": 0.02615876595288945,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(92,42,6)"
                        }
                    }
                },
                {
                    "name": "\u4f60\u4eec",
                    "value": 0.025093827371150196,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(139,117,107)"
                        }
                    }
                },
                {
                    "name": "\u770b\u770b",
                    "value": 0.024167256916314907,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(39,145,94)"
                        }
                    }
                },
                {
                    "name": "\u6ca1\u4e8b",
                    "value": 0.023703104466180906,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(63,5,88)"
                        }
                    }
                },
                {
                    "name": "\u4e00\u4f1a",
                    "value": 0.02353929365668342,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(150,88,64)"
                        }
                    }
                },
                {
                    "name": "com",
                    "value": 0.023362192216722498,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(82,20,34)"
                        }
                    }
                },
                {
                    "name": "twitter",
                    "value": 0.023362192216722498,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(65,159,1)"
                        }
                    }
                },
                {
                    "name": "\u4e3a\u5565",
                    "value": 0.02281010013679509,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(138,88,7)"
                        }
                    }
                },
                {
                    "name": "\u52a8\u753b",
                    "value": 0.022494776673366836,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(55,15,113)"
                        }
                    }
                },
                {
                    "name": "\u4eca\u5929",
                    "value": 0.02229868577031826,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(17,61,14)"
                        }
                    }
                },
                {
                    "name": "\u52a0\u6cb9",
                    "value": 0.02212795842002513,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(31,7,65)"
                        }
                    }
                },
                {
                    "name": "\u4e00\u4e2a",
                    "value": 0.022024407375667222,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(155,108,74)"
                        }
                    }
                },
                {
                    "name": "\u7b80\u5355",
                    "value": 0.021958326375069795,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(116,62,75)"
                        }
                    }
                },
                {
                    "name": "\u5b66\u4e60",
                    "value": 0.02096665483524009,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(68,67,48)"
                        }
                    }
                },
                {
                    "name": "\u4e0d\u4f1a",
                    "value": 0.02093781687675042,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(57,18,99)"
                        }
                    }
                },
                {
                    "name": "\u59da\u53ef\u5fc3",
                    "value": 0.020024736185762143,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(64,151,154)"
                        }
                    }
                },
                {
                    "name": "\u51af\u514b",
                    "value": 0.020024736185762143,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(3,57,34)"
                        }
                    }
                },
                {
                    "name": "https",
                    "value": 0.020024736185762143,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(67,60,72)"
                        }
                    }
                },
                {
                    "name": "\u4ec0\u4e48",
                    "value": 0.019915702433835843,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(19,136,82)"
                        }
                    }
                },
                {
                    "name": "\u662f\u4e0d\u662f",
                    "value": 0.01961074754110553,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(77,30,42)"
                        }
                    }
                },
                {
                    "name": "\u4f11\u606f",
                    "value": 0.019276212384159688,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(145,114,100)"
                        }
                    }
                },
                {
                    "name": "\u4f5c\u5f0a",
                    "value": 0.01926392649050251,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(17,0,89)"
                        }
                    }
                },
                {
                    "name": "\u4ed6\u4eec",
                    "value": 0.01861967445377722,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(9,106,154)"
                        }
                    }
                },
                {
                    "name": "\u5176\u5b9e",
                    "value": 0.018609390035896147,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(8,37,15)"
                        }
                    }
                },
                {
                    "name": "\u4e0d\u8fc7",
                    "value": 0.01777937840603015,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(0,13,125)"
                        }
                    }
                },
                {
                    "name": "\u624b\u673a",
                    "value": 0.0172301000226689,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(108,33,30)"
                        }
                    }
                },
                {
                    "name": "\u6709\u70b9",
                    "value": 0.01719221955,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(147,45,18)"
                        }
                    }
                },
                {
                    "name": "\u65f6\u5019",
                    "value": 0.016762269309927413,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(129,103,71)"
                        }
                    }
                },
                {
                    "name": "\u4e00\u5f20",
                    "value": 0.016750533330429928,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(24,34,154)"
                        }
                    }
                },
                {
                    "name": "MB",
                    "value": 0.016687280154801785,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(30,104,60)"
                        }
                    }
                },
                {
                    "name": "\u5965\u5965",
                    "value": 0.016687280154801785,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(158,115,154)"
                        }
                    }
                },
                {
                    "name": "qq",
                    "value": 0.016687280154801785,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(88,2,114)"
                        }
                    }
                },
                {
                    "name": "\u8881\u68a6\u5a77",
                    "value": 0.016687280154801785,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(123,130,20)"
                        }
                    }
                },
                {
                    "name": "\u90a3\u79cd",
                    "value": 0.016666978776493577,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(2,137,149)"
                        }
                    }
                },
                {
                    "name": "\u7535\u8111",
                    "value": 0.01657658963656058,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(139,14,65)"
                        }
                    }
                },
                {
                    "name": "\u6628\u5929",
                    "value": 0.016546156549497485,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(142,46,2)"
                        }
                    }
                },
                {
                    "name": "\u7f51\u7ad9",
                    "value": 0.01644160655683417,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(124,100,88)"
                        }
                    }
                },
                {
                    "name": "\u7684\u8bdd",
                    "value": 0.016408219683182578,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(70,4,25)"
                        }
                    }
                },
                {
                    "name": "\u73a9\u5427",
                    "value": 0.015823182990647684,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(94,90,1)"
                        }
                    }
                },
                {
                    "name": "\u8fd8\u6709",
                    "value": 0.015741789585951984,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(140,67,2)"
                        }
                    }
                },
                {
                    "name": "\u81ea\u5df1",
                    "value": 0.015736633538983805,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(36,39,151)"
                        }
                    }
                },
                {
                    "name": "\u65b0\u5e74\u597d",
                    "value": 0.015522811448352877,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(71,62,33)"
                        }
                    }
                },
                {
                    "name": "\u5c31\u884c\u4e86",
                    "value": 0.015500779074240648,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(11,0,132)"
                        }
                    }
                },
                {
                    "name": "\u5bbf\u820d",
                    "value": 0.015274496837604692,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(16,36,90)"
                        }
                    }
                },
                {
                    "name": "\u7184\u706f",
                    "value": 0.014910387810022333,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(1,44,160)"
                        }
                    }
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u5de8\u8349\u7387\u7684\u8bcd\u4e91"
        }
    ]
};
        chart_fb4b20220b7b4273a012941b864c5c80.setOption(option_fb4b20220b7b4273a012941b864c5c80);
    </script>
<br/></body>
</html>
