<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-wordcloud.min.js"></script>

</head>
<body>
        <div id="31bfc4d8717549a6b02cb8f8ce203e03" style="width:900px; height:500px;"></div>
    <script>
        var chart_31bfc4d8717549a6b02cb8f8ce203e03 = echarts.init(
            document.getElementById('31bfc4d8717549a6b02cb8f8ce203e03'), 'white', {renderer: 'canvas'});
        var option_31bfc4d8717549a6b02cb8f8ce203e03 = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "sdasd",
            "data": [
                521,
                1007
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            }
        }
    ],
    "legend": [
        {
            "data": [
                "sdasd"
            ],
            "selected": {
                "sdasd": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                2018,
                2019
            ]
        }
    ],
    "title": [
        {
            "text": "\u5e74",
            "subtext": "year"
        }
    ]
};
        chart_31bfc4d8717549a6b02cb8f8ce203e03.setOption(option_31bfc4d8717549a6b02cb8f8ce203e03);
    </script>
<br/>        <div id="cd93f24cbd224242a350907b102abaa0" style="width:900px; height:500px;"></div>
    <script>
        var chart_cd93f24cbd224242a350907b102abaa0 = echarts.init(
            document.getElementById('cd93f24cbd224242a350907b102abaa0'), 'white', {renderer: 'canvas'});
        var option_cd93f24cbd224242a350907b102abaa0 = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "2018",
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "1\u6708",
                    0
                ],
                [
                    "2\u6708",
                    0
                ],
                [
                    "3\u6708",
                    18
                ],
                [
                    "4\u6708",
                    4
                ],
                [
                    "5\u6708",
                    11
                ],
                [
                    "6\u6708",
                    0
                ],
                [
                    "7\u6708",
                    3
                ],
                [
                    "8\u6708",
                    0
                ],
                [
                    "9\u6708",
                    32
                ],
                [
                    "10\u6708",
                    0
                ],
                [
                    "11\u6708",
                    256
                ],
                [
                    "12\u6708",
                    197
                ]
            ],
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "fontSize": 12
                },
                "data": [
                    {
                        "type": "max"
                    }
                ]
            }
        },
        {
            "type": "line",
            "name": "2019",
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "1\u6708",
                    445
                ],
                [
                    "2\u6708",
                    170
                ],
                [
                    "3\u6708",
                    210
                ],
                [
                    "4\u6708",
                    81
                ],
                [
                    "5\u6708",
                    57
                ],
                [
                    "6\u6708",
                    44
                ],
                [
                    "7\u6708",
                    0
                ],
                [
                    "8\u6708",
                    0
                ],
                [
                    "9\u6708",
                    0
                ],
                [
                    "10\u6708",
                    0
                ],
                [
                    "11\u6708",
                    0
                ],
                [
                    "12\u6708",
                    0
                ]
            ],
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "fontSize": 12
                },
                "data": [
                    {
                        "type": "max"
                    }
                ]
            }
        }
    ],
    "legend": [
        {
            "data": [
                "2018",
                "2019"
            ],
            "selected": {
                "2018": true,
                "2019": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "1\u6708",
                "2\u6708",
                "3\u6708",
                "4\u6708",
                "5\u6708",
                "6\u6708",
                "7\u6708",
                "8\u6708",
                "9\u6708",
                "10\u6708",
                "11\u6708",
                "12\u6708"
            ]
        }
    ],
    "title": [
        {
            "text": "\u6708",
            "subtext": "month"
        }
    ]
};
        chart_cd93f24cbd224242a350907b102abaa0.setOption(option_cd93f24cbd224242a350907b102abaa0);
    </script>
<br/>        <div id="cfb3911ba1e34d7faa0279d058efddc3" style="width:900px; height:500px;"></div>
    <script>
        var chart_cfb3911ba1e34d7faa0279d058efddc3 = echarts.init(
            document.getElementById('cfb3911ba1e34d7faa0279d058efddc3'), 'white', {renderer: 'canvas'});
        var option_cfb3911ba1e34d7faa0279d058efddc3 = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "eachhour",
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "1\u70b9",
                    144
                ],
                [
                    "2\u70b9",
                    0
                ],
                [
                    "3\u70b9",
                    0
                ],
                [
                    "4\u70b9",
                    4
                ],
                [
                    "5\u70b9",
                    0
                ],
                [
                    "6\u70b9",
                    0
                ],
                [
                    "7\u70b9",
                    0
                ],
                [
                    "8\u70b9",
                    0
                ],
                [
                    "9\u70b9",
                    1
                ],
                [
                    "10\u70b9",
                    50
                ],
                [
                    "11\u70b9",
                    7
                ],
                [
                    "12\u70b9",
                    35
                ],
                [
                    "13\u70b9",
                    2
                ],
                [
                    "14\u70b9",
                    8
                ],
                [
                    "15\u70b9",
                    6
                ],
                [
                    "16\u70b9",
                    9
                ],
                [
                    "17\u70b9",
                    34
                ],
                [
                    "18\u70b9",
                    24
                ],
                [
                    "19\u70b9",
                    77
                ],
                [
                    "20\u70b9",
                    21
                ],
                [
                    "21\u70b9",
                    84
                ],
                [
                    "22\u70b9",
                    61
                ],
                [
                    "23\u70b9",
                    512
                ],
                [
                    "24\u70b9",
                    448
                ]
            ],
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "fontSize": 12
                },
                "data": [
                    {
                        "type": "max"
                    }
                ]
            },
            "markLine": {
                "silent": false,
                "precision": 2,
                "label": {
                    "show": true,
                    "position": "top",
                    "fontSize": 12
                },
                "data": [
                    {
                        "type": "average"
                    }
                ]
            }
        }
    ],
    "legend": [
        {
            "data": [
                "eachhour"
            ],
            "selected": {
                "eachhour": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "1\u70b9",
                "2\u70b9",
                "3\u70b9",
                "4\u70b9",
                "5\u70b9",
                "6\u70b9",
                "7\u70b9",
                "8\u70b9",
                "9\u70b9",
                "10\u70b9",
                "11\u70b9",
                "12\u70b9",
                "13\u70b9",
                "14\u70b9",
                "15\u70b9",
                "16\u70b9",
                "17\u70b9",
                "18\u70b9",
                "19\u70b9",
                "20\u70b9",
                "21\u70b9",
                "22\u70b9",
                "23\u70b9",
                "24\u70b9"
            ]
        }
    ],
    "title": [
        {
            "text": "\u65f6",
            "subtext": "hour"
        }
    ]
};
        chart_cfb3911ba1e34d7faa0279d058efddc3.setOption(option_cfb3911ba1e34d7faa0279d058efddc3);
    </script>
<br/>        <div id="27e5993a875e411f832e167eb9e87a76" style="width:900px; height:500px;"></div>
    <script>
        var chart_27e5993a875e411f832e167eb9e87a76 = echarts.init(
            document.getElementById('27e5993a875e411f832e167eb9e87a76'), 'white', {renderer: 'canvas'});
        var option_27e5993a875e411f832e167eb9e87a76 = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "ly",
            "data": [
                425,
                92,
                20,
                25,
                60,
                42,
                52,
                31,
                45
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            }
        }
    ],
    "legend": [
        {
            "data": [
                "ly"
            ],
            "selected": {
                "ly": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u8868\u60c5",
                "\u56fe\u7247",
                "\u665a\u5b89",
                "\u65e9\u70b9",
                "\u5c31\u662f",
                "\u90a3\u4e2a",
                "\u53ef\u4ee5",
                "\u611f\u89c9",
                "\u77e5\u9053"
            ]
        }
    ],
    "title": [
        {
            "text": "\u9ad8\u9891\u7387\u8bcd\u6c47\u8349\u7387\u6c47\u603b",
            "subtext": "\u8349\u7387"
        }
    ]
};
        chart_27e5993a875e411f832e167eb9e87a76.setOption(option_27e5993a875e411f832e167eb9e87a76);
    </script>
<br/>        <div id="67835a79a8fe4712b6458eda1fba69d2" style="width:900px; height:500px;"></div>
    <script>
        var chart_67835a79a8fe4712b6458eda1fba69d2 = echarts.init(
            document.getElementById('67835a79a8fe4712b6458eda1fba69d2'), 'white', {renderer: 'canvas'});
        var option_67835a79a8fe4712b6458eda1fba69d2 = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "wordCloud",
            "shape": "diamond",
            "rotationRange": [
                0,
                0
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                20,
                100
            ],
            "data": [
                {
                    "name": "\u8868\u60c5",
                    "value": 0.8172128116958403,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(71,101,99)"
                        }
                    }
                },
                {
                    "name": "\u56fe\u7247",
                    "value": 0.16372246899887213,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(67,122,67)"
                        }
                    }
                },
                {
                    "name": "\u665a\u5b89",
                    "value": 0.06287895210720268,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(102,93,101)"
                        }
                    }
                },
                {
                    "name": "\u65e9\u70b9",
                    "value": 0.05831588642867114,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(117,2,158)"
                        }
                    }
                },
                {
                    "name": "\u5c31\u662f",
                    "value": 0.057257456488324955,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(60,150,90)"
                        }
                    }
                },
                {
                    "name": "\u90a3\u4e2a",
                    "value": 0.05564772181963149,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(159,6,87)"
                        }
                    }
                },
                {
                    "name": "\u53ef\u4ee5",
                    "value": 0.05088391990852038,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(47,154,107)"
                        }
                    }
                },
                {
                    "name": "\u611f\u89c9",
                    "value": 0.048823513949919045,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(24,82,58)"
                        }
                    }
                },
                {
                    "name": "\u77e5\u9053",
                    "value": 0.048816520312674486,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(32,121,0)"
                        }
                    }
                },
                {
                    "name": "\u4e0d\u662f",
                    "value": 0.04549464996144612,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(114,1,52)"
                        }
                    }
                },
                {
                    "name": "\u7761\u89c9",
                    "value": 0.04515694432976829,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(16,142,143)"
                        }
                    }
                },
                {
                    "name": "\u6211\u4eec",
                    "value": 0.03881743066627303,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(8,64,32)"
                        }
                    }
                },
                {
                    "name": "\u7136\u540e",
                    "value": 0.036236085192135684,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(66,117,77)"
                        }
                    }
                },
                {
                    "name": "\u8fd9\u4e2a",
                    "value": 0.03585251361316583,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(44,76,20)"
                        }
                    }
                },
                {
                    "name": "\u9a71\u52a8",
                    "value": 0.03353759674029034,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(111,11,77)"
                        }
                    }
                },
                {
                    "name": "\u8fd8\u662f",
                    "value": 0.03114567696384143,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(74,70,153)"
                        }
                    }
                },
                {
                    "name": "\u5f20\u54e5",
                    "value": 0.030037104278643215,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(38,96,129)"
                        }
                    }
                },
                {
                    "name": "\u4e00\u4e0b",
                    "value": 0.028664097988559466,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(123,17,101)"
                        }
                    }
                },
                {
                    "name": "\u597d\u50cf",
                    "value": 0.028225783441557788,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(70,124,21)"
                        }
                    }
                },
                {
                    "name": "\u6ca1\u6709",
                    "value": 0.027808585729983248,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(51,60,3)"
                        }
                    }
                },
                {
                    "name": "\u8003\u8bd5",
                    "value": 0.026981833629430487,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(88,24,6)"
                        }
                    }
                },
                {
                    "name": "\u53ef\u80fd",
                    "value": 0.02615876595288945,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(1,36,40)"
                        }
                    }
                },
                {
                    "name": "\u4f60\u4eec",
                    "value": 0.025093827371150196,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(106,52,31)"
                        }
                    }
                },
                {
                    "name": "\u770b\u770b",
                    "value": 0.024167256916314907,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(148,10,91)"
                        }
                    }
                },
                {
                    "name": "\u6ca1\u4e8b",
                    "value": 0.023703104466180906,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(133,82,157)"
                        }
                    }
                },
                {
                    "name": "\u4e00\u4f1a",
                    "value": 0.02353929365668342,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(17,109,110)"
                        }
                    }
                },
                {
                    "name": "com",
                    "value": 0.023362192216722498,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(5,139,160)"
                        }
                    }
                },
                {
                    "name": "twitter",
                    "value": 0.023362192216722498,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(118,152,77)"
                        }
                    }
                },
                {
                    "name": "\u4e3a\u5565",
                    "value": 0.02281010013679509,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(142,54,54)"
                        }
                    }
                },
                {
                    "name": "\u52a8\u753b",
                    "value": 0.022494776673366836,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(150,85,53)"
                        }
                    }
                },
                {
                    "name": "\u4eca\u5929",
                    "value": 0.02229868577031826,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(65,101,97)"
                        }
                    }
                },
                {
                    "name": "\u52a0\u6cb9",
                    "value": 0.02212795842002513,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(114,98,86)"
                        }
                    }
                },
                {
                    "name": "\u4e00\u4e2a",
                    "value": 0.022024407375667222,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(44,72,44)"
                        }
                    }
                },
                {
                    "name": "\u7b80\u5355",
                    "value": 0.021958326375069795,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(138,24,94)"
                        }
                    }
                },
                {
                    "name": "\u5b66\u4e60",
                    "value": 0.02096665483524009,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(11,48,66)"
                        }
                    }
                },
                {
                    "name": "\u4e0d\u4f1a",
                    "value": 0.02093781687675042,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(34,4,44)"
                        }
                    }
                },
                {
                    "name": "\u59da\u53ef\u5fc3",
                    "value": 0.020024736185762143,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(57,119,117)"
                        }
                    }
                },
                {
                    "name": "\u51af\u514b",
                    "value": 0.020024736185762143,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(71,120,39)"
                        }
                    }
                },
                {
                    "name": "https",
                    "value": 0.020024736185762143,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(141,33,136)"
                        }
                    }
                },
                {
                    "name": "\u4ec0\u4e48",
                    "value": 0.019915702433835843,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(94,34,151)"
                        }
                    }
                },
                {
                    "name": "\u662f\u4e0d\u662f",
                    "value": 0.01961074754110553,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(58,40,113)"
                        }
                    }
                },
                {
                    "name": "\u4f11\u606f",
                    "value": 0.019276212384159688,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(52,20,15)"
                        }
                    }
                },
                {
                    "name": "\u4f5c\u5f0a",
                    "value": 0.01926392649050251,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(45,42,142)"
                        }
                    }
                },
                {
                    "name": "\u4ed6\u4eec",
                    "value": 0.01861967445377722,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(4,138,40)"
                        }
                    }
                },
                {
                    "name": "\u5176\u5b9e",
                    "value": 0.018609390035896147,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(41,153,19)"
                        }
                    }
                },
                {
                    "name": "\u4e0d\u8fc7",
                    "value": 0.01777937840603015,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(138,74,50)"
                        }
                    }
                },
                {
                    "name": "\u624b\u673a",
                    "value": 0.0172301000226689,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(98,94,49)"
                        }
                    }
                },
                {
                    "name": "\u6709\u70b9",
                    "value": 0.01719221955,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(150,15,101)"
                        }
                    }
                },
                {
                    "name": "\u65f6\u5019",
                    "value": 0.016762269309927413,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(152,98,101)"
                        }
                    }
                },
                {
                    "name": "\u4e00\u5f20",
                    "value": 0.016750533330429928,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(117,98,90)"
                        }
                    }
                },
                {
                    "name": "MB",
                    "value": 0.016687280154801785,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(72,86,88)"
                        }
                    }
                },
                {
                    "name": "\u5965\u5965",
                    "value": 0.016687280154801785,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(104,125,10)"
                        }
                    }
                },
                {
                    "name": "qq",
                    "value": 0.016687280154801785,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(110,49,98)"
                        }
                    }
                },
                {
                    "name": "\u8881\u68a6\u5a77",
                    "value": 0.016687280154801785,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(111,146,66)"
                        }
                    }
                },
                {
                    "name": "\u90a3\u79cd",
                    "value": 0.016666978776493577,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(36,98,92)"
                        }
                    }
                },
                {
                    "name": "\u7535\u8111",
                    "value": 0.01657658963656058,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(92,23,43)"
                        }
                    }
                },
                {
                    "name": "\u6628\u5929",
                    "value": 0.016546156549497485,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(105,7,61)"
                        }
                    }
                },
                {
                    "name": "\u7f51\u7ad9",
                    "value": 0.01644160655683417,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(1,8,45)"
                        }
                    }
                },
                {
                    "name": "\u7684\u8bdd",
                    "value": 0.016408219683182578,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(45,5,76)"
                        }
                    }
                },
                {
                    "name": "\u73a9\u5427",
                    "value": 0.015823182990647684,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(151,117,48)"
                        }
                    }
                },
                {
                    "name": "\u8fd8\u6709",
                    "value": 0.015741789585951984,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(114,21,73)"
                        }
                    }
                },
                {
                    "name": "\u81ea\u5df1",
                    "value": 0.015736633538983805,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(38,46,1)"
                        }
                    }
                },
                {
                    "name": "\u65b0\u5e74\u597d",
                    "value": 0.015522811448352877,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(125,98,14)"
                        }
                    }
                },
                {
                    "name": "\u5c31\u884c\u4e86",
                    "value": 0.015500779074240648,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(147,130,157)"
                        }
                    }
                },
                {
                    "name": "\u5bbf\u820d",
                    "value": 0.015274496837604692,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(88,28,127)"
                        }
                    }
                },
                {
                    "name": "\u7184\u706f",
                    "value": 0.014910387810022333,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(122,127,132)"
                        }
                    }
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u5de8\u8349\u7387\u7684\u8bcd\u4e91"
        }
    ]
};
        chart_67835a79a8fe4712b6458eda1fba69d2.setOption(option_67835a79a8fe4712b6458eda1fba69d2);
    </script>
<br/></body>
</html>
