<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-wordcloud.min.js"></script>

</head>
<body>
        <div id="69e8c6f2ba9f4e89bc7cbe40fa07dd4a" style="width:900px; height:500px;"></div>
    <script>
        var chart_69e8c6f2ba9f4e89bc7cbe40fa07dd4a = echarts.init(
            document.getElementById('69e8c6f2ba9f4e89bc7cbe40fa07dd4a'), 'white', {renderer: 'canvas'});
        var option_69e8c6f2ba9f4e89bc7cbe40fa07dd4a = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u674e\u60a6",
            "data": [
                1653,
                1651
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u674e\u60a6"
            ],
            "selected": {
                "\u674e\u60a6": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                2018,
                2019
            ]
        }
    ],
    "title": [
        {
            "text": "\u5e74",
            "subtext": "year"
        }
    ]
};
        chart_69e8c6f2ba9f4e89bc7cbe40fa07dd4a.setOption(option_69e8c6f2ba9f4e89bc7cbe40fa07dd4a);
    </script>
<br/>        <div id="c73bef731825426492e145f033c95dd2" style="width:900px; height:500px;"></div>
    <script>
        var chart_c73bef731825426492e145f033c95dd2 = echarts.init(
            document.getElementById('c73bef731825426492e145f033c95dd2'), 'white', {renderer: 'canvas'});
        var option_c73bef731825426492e145f033c95dd2 = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "2018",
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "1\u6708",
                    0
                ],
                [
                    "2\u6708",
                    0
                ],
                [
                    "3\u6708",
                    0
                ],
                [
                    "4\u6708",
                    0
                ],
                [
                    "5\u6708",
                    49
                ],
                [
                    "6\u6708",
                    113
                ],
                [
                    "7\u6708",
                    19
                ],
                [
                    "8\u6708",
                    8
                ],
                [
                    "9\u6708",
                    470
                ],
                [
                    "10\u6708",
                    347
                ],
                [
                    "11\u6708",
                    413
                ],
                [
                    "12\u6708",
                    224
                ]
            ],
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "fontSize": 12
                },
                "data": [
                    {
                        "type": "max"
                    }
                ]
            }
        },
        {
            "type": "line",
            "name": "2019",
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "1\u6708",
                    169
                ],
                [
                    "2\u6708",
                    147
                ],
                [
                    "3\u6708",
                    307
                ],
                [
                    "4\u6708",
                    430
                ],
                [
                    "5\u6708",
                    590
                ],
                [
                    "6\u6708",
                    0
                ],
                [
                    "7\u6708",
                    0
                ],
                [
                    "8\u6708",
                    0
                ],
                [
                    "9\u6708",
                    0
                ],
                [
                    "10\u6708",
                    0
                ],
                [
                    "11\u6708",
                    0
                ],
                [
                    "12\u6708",
                    0
                ]
            ],
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "fontSize": 12
                },
                "data": [
                    {
                        "type": "max"
                    }
                ]
            }
        }
    ],
    "legend": [
        {
            "data": [
                "2018",
                "2019"
            ],
            "selected": {
                "2018": true,
                "2019": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "1\u6708",
                "2\u6708",
                "3\u6708",
                "4\u6708",
                "5\u6708",
                "6\u6708",
                "7\u6708",
                "8\u6708",
                "9\u6708",
                "10\u6708",
                "11\u6708",
                "12\u6708"
            ]
        }
    ],
    "title": [
        {
            "text": "\u6708",
            "subtext": "month"
        }
    ]
};
        chart_c73bef731825426492e145f033c95dd2.setOption(option_c73bef731825426492e145f033c95dd2);
    </script>
<br/>        <div id="46d998cd764f4939adf2e1f5293b710b" style="width:900px; height:500px;"></div>
    <script>
        var chart_46d998cd764f4939adf2e1f5293b710b = echarts.init(
            document.getElementById('46d998cd764f4939adf2e1f5293b710b'), 'white', {renderer: 'canvas'});
        var option_46d998cd764f4939adf2e1f5293b710b = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "eachhour",
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "1\u70b9",
                    115
                ],
                [
                    "2\u70b9",
                    49
                ],
                [
                    "3\u70b9",
                    0
                ],
                [
                    "4\u70b9",
                    0
                ],
                [
                    "5\u70b9",
                    0
                ],
                [
                    "6\u70b9",
                    0
                ],
                [
                    "7\u70b9",
                    0
                ],
                [
                    "8\u70b9",
                    8
                ],
                [
                    "9\u70b9",
                    65
                ],
                [
                    "10\u70b9",
                    128
                ],
                [
                    "11\u70b9",
                    262
                ],
                [
                    "12\u70b9",
                    206
                ],
                [
                    "13\u70b9",
                    100
                ],
                [
                    "14\u70b9",
                    172
                ],
                [
                    "15\u70b9",
                    277
                ],
                [
                    "16\u70b9",
                    295
                ],
                [
                    "17\u70b9",
                    278
                ],
                [
                    "18\u70b9",
                    285
                ],
                [
                    "19\u70b9",
                    331
                ],
                [
                    "20\u70b9",
                    183
                ],
                [
                    "21\u70b9",
                    87
                ],
                [
                    "22\u70b9",
                    205
                ],
                [
                    "23\u70b9",
                    88
                ],
                [
                    "24\u70b9",
                    157
                ]
            ],
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "fontSize": 12
                },
                "data": [
                    {
                        "type": "max"
                    }
                ]
            },
            "markLine": {
                "silent": false,
                "precision": 2,
                "label": {
                    "show": true,
                    "position": "top",
                    "fontSize": 12
                },
                "data": [
                    {
                        "type": "average"
                    }
                ]
            }
        }
    ],
    "legend": [
        {
            "data": [
                "eachhour"
            ],
            "selected": {
                "eachhour": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "1\u70b9",
                "2\u70b9",
                "3\u70b9",
                "4\u70b9",
                "5\u70b9",
                "6\u70b9",
                "7\u70b9",
                "8\u70b9",
                "9\u70b9",
                "10\u70b9",
                "11\u70b9",
                "12\u70b9",
                "13\u70b9",
                "14\u70b9",
                "15\u70b9",
                "16\u70b9",
                "17\u70b9",
                "18\u70b9",
                "19\u70b9",
                "20\u70b9",
                "21\u70b9",
                "22\u70b9",
                "23\u70b9",
                "24\u70b9"
            ]
        }
    ],
    "title": [
        {
            "text": "\u65f6",
            "subtext": "hour"
        }
    ]
};
        chart_46d998cd764f4939adf2e1f5293b710b.setOption(option_46d998cd764f4939adf2e1f5293b710b);
    </script>
<br/>        <div id="665f55b1ba444c538b2df77c66affd9b" style="width:900px; height:500px;"></div>
    <script>
        var chart_665f55b1ba444c538b2df77c66affd9b = echarts.init(
            document.getElementById('665f55b1ba444c538b2df77c66affd9b'), 'white', {renderer: 'canvas'});
        var option_665f55b1ba444c538b2df77c66affd9b = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "ly",
            "data": [
                759,
                297,
                82,
                93,
                72,
                220,
                72,
                90,
                70
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            }
        }
    ],
    "legend": [
        {
            "data": [
                "ly"
            ],
            "selected": {
                "ly": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u56fe\u7247",
                "\u8868\u60c5",
                "html",
                "log",
                "function",
                "ion",
                "QQ",
                "item",
                "var"
            ]
        }
    ],
    "title": [
        {
            "text": "\u9ad8\u9891\u7387\u8bcd\u6c47\u8349\u7387\u6c47\u603b",
            "subtext": "\u8349\u7387"
        }
    ]
};
        chart_665f55b1ba444c538b2df77c66affd9b.setOption(option_665f55b1ba444c538b2df77c66affd9b);
    </script>
<br/>        <div id="6525c819f8db4d53b3e43d3933360a53" style="width:900px; height:500px;"></div>
    <script>
        var chart_6525c819f8db4d53b3e43d3933360a53 = echarts.init(
            document.getElementById('6525c819f8db4d53b3e43d3933360a53'), 'white', {renderer: 'canvas'});
        var option_6525c819f8db4d53b3e43d3933360a53 = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "wordCloud",
            "shape": "diamond",
            "rotationRange": [
                0,
                0
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                20,
                100
            ],
            "data": [
                {
                    "name": "\u56fe\u7247",
                    "value": 0.3092518084129223,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(14,27,7)"
                        }
                    }
                },
                {
                    "name": "\u8868\u60c5",
                    "value": 0.13075331243943625,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(19,62,20)"
                        }
                    }
                },
                {
                    "name": "html",
                    "value": 0.06189429004377756,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(65,62,114)"
                        }
                    }
                },
                {
                    "name": "log",
                    "value": 0.06036603596862256,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(46,20,90)"
                        }
                    }
                },
                {
                    "name": "function",
                    "value": 0.055017146705580056,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(76,21,1)"
                        }
                    }
                },
                {
                    "name": "ion",
                    "value": 0.054253019668002556,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(31,82,3)"
                        }
                    }
                },
                {
                    "name": "QQ",
                    "value": 0.053488892630425056,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(47,95,134)"
                        }
                    }
                },
                {
                    "name": "item",
                    "value": 0.053488892630425056,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(23,27,1)"
                        }
                    }
                },
                {
                    "name": "var",
                    "value": 0.053488892630425056,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(43,55,7)"
                        }
                    }
                },
                {
                    "name": "com",
                    "value": 0.052724765592847556,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(148,65,54)"
                        }
                    }
                },
                {
                    "name": "console",
                    "value": 0.04661174929222755,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(76,115,112)"
                        }
                    }
                },
                {
                    "name": "\u53d1\u9001",
                    "value": 0.042355396335097474,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(130,133,137)"
                        }
                    }
                },
                {
                    "name": "https",
                    "value": 0.03897047891645254,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(135,69,141)"
                        }
                    }
                },
                {
                    "name": "import",
                    "value": 0.035913970766142535,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(10,87,45)"
                        }
                    }
                },
                {
                    "name": "style",
                    "value": 0.034385716690987535,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(126,16,64)"
                        }
                    }
                },
                {
                    "name": "return",
                    "value": 0.034385716690987535,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(134,149,129)"
                        }
                    }
                },
                {
                    "name": "title",
                    "value": 0.03132920854067753,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(144,25,91)"
                        }
                    }
                },
                {
                    "name": "index",
                    "value": 0.02980095446552253,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(13,96,56)"
                        }
                    }
                },
                {
                    "name": "data",
                    "value": 0.02980095446552253,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(69,158,102)"
                        }
                    }
                },
                {
                    "name": "input",
                    "value": 0.029036827427945028,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(29,83,137)"
                        }
                    }
                },
                {
                    "name": "\u67e5\u770b",
                    "value": 0.02894384477033557,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(78,68,30)"
                        }
                    }
                },
                {
                    "name": "id",
                    "value": 0.028272700390367528,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(47,29,92)"
                        }
                    }
                },
                {
                    "name": "\u6296\u52a8",
                    "value": 0.027802049180272927,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(54,153,105)"
                        }
                    }
                },
                {
                    "name": "\u624b\u673a",
                    "value": 0.02721992369065388,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(91,126,148)"
                        }
                    }
                },
                {
                    "name": "type",
                    "value": 0.026744446315212528,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(6,26,22)"
                        }
                    }
                },
                {
                    "name": "KB",
                    "value": 0.025980319277635024,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(107,8,93)"
                        }
                    }
                },
                {
                    "name": "\u79bb\u7ebf",
                    "value": 0.02559669321245126,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(63,137,108)"
                        }
                    }
                },
                {
                    "name": "js",
                    "value": 0.025216192240057524,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(116,129,144)"
                        }
                    }
                },
                {
                    "name": "class",
                    "value": 0.024452065202480024,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(132,33,144)"
                        }
                    }
                },
                {
                    "name": "body",
                    "value": 0.023687938164902524,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(81,146,151)"
                        }
                    }
                },
                {
                    "name": "app",
                    "value": 0.023687938164902524,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(134,93,86)"
                        }
                    }
                },
                {
                    "name": "div",
                    "value": 0.023687938164902524,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(106,36,79)"
                        }
                    }
                },
                {
                    "name": "\u6587\u4ef6",
                    "value": 0.023630887419137107,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(83,79,129)"
                        }
                    }
                },
                {
                    "name": "\u7a97\u53e3",
                    "value": 0.023619109336689037,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(84,111,89)"
                        }
                    }
                },
                {
                    "name": "\u7248\u672c",
                    "value": 0.023261237317675935,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(41,51,145)"
                        }
                    }
                },
                {
                    "name": "button",
                    "value": 0.022923811127325024,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(12,147,146)"
                        }
                    }
                },
                {
                    "name": "width",
                    "value": 0.022923811127325024,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(57,94,12)"
                        }
                    }
                },
                {
                    "name": "height",
                    "value": 0.022923811127325024,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(61,19,125)"
                        }
                    }
                },
                {
                    "name": "color",
                    "value": 0.022923811127325024,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(74,19,87)"
                        }
                    }
                },
                {
                    "name": "\u4f7f\u7528",
                    "value": 0.0225165481327977,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(123,46,50)"
                        }
                    }
                },
                {
                    "name": "head",
                    "value": 0.02139555705217002,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(155,70,59)"
                        }
                    }
                },
                {
                    "name": "12",
                    "value": 0.02139555705217002,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(58,51,54)"
                        }
                    }
                },
                {
                    "name": "err",
                    "value": 0.02139555705217002,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(71,97,137)"
                        }
                    }
                },
                {
                    "name": "arr",
                    "value": 0.02063143001459252,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(56,30,154)"
                        }
                    }
                },
                {
                    "name": "\u6700\u65b0",
                    "value": 0.020071935433416427,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(36,124,113)"
                        }
                    }
                },
                {
                    "name": "background",
                    "value": 0.01986730297701502,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(107,99,84)"
                        }
                    }
                },
                {
                    "name": "else",
                    "value": 0.01986730297701502,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(36,20,112)"
                        }
                    }
                },
                {
                    "name": "Component",
                    "value": 0.01986730297701502,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(116,97,124)"
                        }
                    }
                },
                {
                    "name": "\u6700\u65b0\u7248",
                    "value": 0.019416631565496965,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(105,20,73)"
                        }
                    }
                },
                {
                    "name": "10",
                    "value": 0.018339048901860017,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(102,153,139)"
                        }
                    }
                },
                {
                    "name": "script",
                    "value": 0.018339048901860017,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(96,56,103)"
                        }
                    }
                },
                {
                    "name": "require",
                    "value": 0.018339048901860017,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(114,27,148)"
                        }
                    }
                },
                {
                    "name": "res",
                    "value": 0.018339048901860017,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(65,14,141)"
                        }
                    }
                },
                {
                    "name": "\u6bd4\u5fc3",
                    "value": 0.018339048901860017,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(35,14,113)"
                        }
                    }
                },
                {
                    "name": "localStorage",
                    "value": 0.017574921864282517,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(154,153,110)"
                        }
                    }
                },
                {
                    "name": "child",
                    "value": 0.017574921864282517,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(148,146,96)"
                        }
                    }
                },
                {
                    "name": "top",
                    "value": 0.017574921864282517,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(141,47,65)"
                        }
                    }
                },
                {
                    "name": "\u679c\u513f",
                    "value": 0.017070893851888785,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(81,121,83)"
                        }
                    }
                },
                {
                    "name": "\u4e00\u4f1a",
                    "value": 0.017066552121940554,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(138,108,55)"
                        }
                    }
                },
                {
                    "name": "qq",
                    "value": 0.016810794826705017,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(121,123,40)"
                        }
                    }
                },
                {
                    "name": "name",
                    "value": 0.016810794826705017,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(46,133,142)"
                        }
                    }
                },
                {
                    "name": "http",
                    "value": 0.016810794826705017,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(109,80,158)"
                        }
                    }
                },
                {
                    "name": "ul",
                    "value": 0.016046667789127517,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(55,13,155)"
                        }
                    }
                },
                {
                    "name": "value",
                    "value": 0.016046667789127517,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(65,155,30)"
                        }
                    }
                },
                {
                    "name": "\u60a8\u597d",
                    "value": 0.015624507663427292,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(45,74,140)"
                        }
                    }
                },
                {
                    "name": "\u4e00\u4e2a",
                    "value": 0.015307883197893894,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(69,11,44)"
                        }
                    }
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u5de8\u8349\u7387\u7684\u8bcd\u4e91"
        }
    ]
};
        chart_6525c819f8db4d53b3e43d3933360a53.setOption(option_6525c819f8db4d53b3e43d3933360a53);
    </script>
<br/></body>
</html>
