<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-wordcloud.min.js"></script>

</head>
<body>
        <div id="f755e650b7824833b9f927d40502c55f" style="width:900px; height:500px;"></div>
    <script>
        var chart_f755e650b7824833b9f927d40502c55f = echarts.init(
            document.getElementById('f755e650b7824833b9f927d40502c55f'), 'white', {renderer: 'canvas'});
        var option_f755e650b7824833b9f927d40502c55f = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "sdasd",
            "data": [
                1083,
                2427
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            }
        }
    ],
    "legend": [
        {
            "data": [
                "sdasd"
            ],
            "selected": {
                "sdasd": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                2018,
                2019
            ]
        }
    ],
    "title": [
        {
            "text": "\u5e74",
            "subtext": "year"
        }
    ]
};
        chart_f755e650b7824833b9f927d40502c55f.setOption(option_f755e650b7824833b9f927d40502c55f);
    </script>
<br/>        <div id="0cb709b5efc54211b85e26407c6b89cd" style="width:900px; height:500px;"></div>
    <script>
        var chart_0cb709b5efc54211b85e26407c6b89cd = echarts.init(
            document.getElementById('0cb709b5efc54211b85e26407c6b89cd'), 'white', {renderer: 'canvas'});
        var option_0cb709b5efc54211b85e26407c6b89cd = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "2018",
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "1\u6708",
                    0
                ],
                [
                    "2\u6708",
                    67
                ],
                [
                    "3\u6708",
                    277
                ],
                [
                    "4\u6708",
                    35
                ],
                [
                    "5\u6708",
                    9
                ],
                [
                    "6\u6708",
                    26
                ],
                [
                    "7\u6708",
                    116
                ],
                [
                    "8\u6708",
                    0
                ],
                [
                    "9\u6708",
                    99
                ],
                [
                    "10\u6708",
                    55
                ],
                [
                    "11\u6708",
                    244
                ],
                [
                    "12\u6708",
                    154
                ]
            ],
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "fontSize": 12
                },
                "data": [
                    {
                        "type": "max"
                    }
                ]
            }
        },
        {
            "type": "line",
            "name": "2019",
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "1\u6708",
                    251
                ],
                [
                    "2\u6708",
                    87
                ],
                [
                    "3\u6708",
                    404
                ],
                [
                    "4\u6708",
                    577
                ],
                [
                    "5\u6708",
                    981
                ],
                [
                    "6\u6708",
                    120
                ],
                [
                    "7\u6708",
                    0
                ],
                [
                    "8\u6708",
                    0
                ],
                [
                    "9\u6708",
                    0
                ],
                [
                    "10\u6708",
                    0
                ],
                [
                    "11\u6708",
                    0
                ],
                [
                    "12\u6708",
                    0
                ]
            ],
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "fontSize": 12
                },
                "data": [
                    {
                        "type": "max"
                    }
                ]
            }
        }
    ],
    "legend": [
        {
            "data": [
                "2018",
                "2019"
            ],
            "selected": {
                "2018": true,
                "2019": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "1\u6708",
                "2\u6708",
                "3\u6708",
                "4\u6708",
                "5\u6708",
                "6\u6708",
                "7\u6708",
                "8\u6708",
                "9\u6708",
                "10\u6708",
                "11\u6708",
                "12\u6708"
            ]
        }
    ],
    "title": [
        {
            "text": "\u6708",
            "subtext": "month"
        }
    ]
};
        chart_0cb709b5efc54211b85e26407c6b89cd.setOption(option_0cb709b5efc54211b85e26407c6b89cd);
    </script>
<br/>        <div id="1fbbc7c3155a4983b239dde84d70344d" style="width:900px; height:500px;"></div>
    <script>
        var chart_1fbbc7c3155a4983b239dde84d70344d = echarts.init(
            document.getElementById('1fbbc7c3155a4983b239dde84d70344d'), 'white', {renderer: 'canvas'});
        var option_1fbbc7c3155a4983b239dde84d70344d = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "eachhour",
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "1\u70b9",
                    12
                ],
                [
                    "2\u70b9",
                    46
                ],
                [
                    "3\u70b9",
                    0
                ],
                [
                    "4\u70b9",
                    0
                ],
                [
                    "5\u70b9",
                    0
                ],
                [
                    "6\u70b9",
                    3
                ],
                [
                    "7\u70b9",
                    1
                ],
                [
                    "8\u70b9",
                    36
                ],
                [
                    "9\u70b9",
                    203
                ],
                [
                    "10\u70b9",
                    120
                ],
                [
                    "11\u70b9",
                    145
                ],
                [
                    "12\u70b9",
                    210
                ],
                [
                    "13\u70b9",
                    263
                ],
                [
                    "14\u70b9",
                    286
                ],
                [
                    "15\u70b9",
                    317
                ],
                [
                    "16\u70b9",
                    377
                ],
                [
                    "17\u70b9",
                    249
                ],
                [
                    "18\u70b9",
                    265
                ],
                [
                    "19\u70b9",
                    252
                ],
                [
                    "20\u70b9",
                    254
                ],
                [
                    "21\u70b9",
                    222
                ],
                [
                    "22\u70b9",
                    170
                ],
                [
                    "23\u70b9",
                    34
                ],
                [
                    "24\u70b9",
                    38
                ]
            ],
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "fontSize": 12
                },
                "data": [
                    {
                        "type": "max"
                    }
                ]
            },
            "markLine": {
                "silent": false,
                "precision": 2,
                "label": {
                    "show": true,
                    "position": "top",
                    "fontSize": 12
                },
                "data": [
                    {
                        "type": "average"
                    }
                ]
            }
        }
    ],
    "legend": [
        {
            "data": [
                "eachhour"
            ],
            "selected": {
                "eachhour": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "1\u70b9",
                "2\u70b9",
                "3\u70b9",
                "4\u70b9",
                "5\u70b9",
                "6\u70b9",
                "7\u70b9",
                "8\u70b9",
                "9\u70b9",
                "10\u70b9",
                "11\u70b9",
                "12\u70b9",
                "13\u70b9",
                "14\u70b9",
                "15\u70b9",
                "16\u70b9",
                "17\u70b9",
                "18\u70b9",
                "19\u70b9",
                "20\u70b9",
                "21\u70b9",
                "22\u70b9",
                "23\u70b9",
                "24\u70b9"
            ]
        }
    ],
    "title": [
        {
            "text": "\u65f6",
            "subtext": "hour"
        }
    ]
};
        chart_1fbbc7c3155a4983b239dde84d70344d.setOption(option_1fbbc7c3155a4983b239dde84d70344d);
    </script>
<br/>        <div id="d182b30c8ed64b1884b175a8a5a093f4" style="width:900px; height:500px;"></div>
    <script>
        var chart_d182b30c8ed64b1884b175a8a5a093f4 = echarts.init(
            document.getElementById('d182b30c8ed64b1884b175a8a5a093f4'), 'white', {renderer: 'canvas'});
        var option_d182b30c8ed64b1884b175a8a5a093f4 = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "ly",
            "data": [
                337,
                173,
                239,
                80,
                67,
                89,
                40,
                32,
                33
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            }
        }
    ],
    "legend": [
        {
            "data": [
                "ly"
            ],
            "selected": {
                "ly": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u8868\u60c5",
                "\u534e\u54e5",
                "\u56fe\u7247",
                "gogogo",
                "\u5b50\u9f99",
                "\u5b66\u4e60",
                "\u7f51\u5427",
                "\u590d\u4e60",
                "\u51e0\u628a"
            ]
        }
    ],
    "title": [
        {
            "text": "\u9ad8\u9891\u7387\u8bcd\u6c47\u8349\u7387\u6c47\u603b",
            "subtext": "\u8349\u7387"
        }
    ]
};
        chart_d182b30c8ed64b1884b175a8a5a093f4.setOption(option_d182b30c8ed64b1884b175a8a5a093f4);
    </script>
<br/>        <div id="2b0e347f80154cc1b184a9e77c249767" style="width:900px; height:500px;"></div>
    <script>
        var chart_2b0e347f80154cc1b184a9e77c249767 = echarts.init(
            document.getElementById('2b0e347f80154cc1b184a9e77c249767'), 'white', {renderer: 'canvas'});
        var option_2b0e347f80154cc1b184a9e77c249767 = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "wordCloud",
            "shape": "diamond",
            "rotationRange": [
                0,
                0
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                20,
                100
            ],
            "data": [
                {
                    "name": "\u8868\u60c5",
                    "value": 0.5082421825287016,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(21,12,67)"
                        }
                    }
                },
                {
                    "name": "\u534e\u54e5",
                    "value": 0.4057343908363258,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(24,158,10)"
                        }
                    }
                },
                {
                    "name": "\u56fe\u7247",
                    "value": 0.3335899274211889,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(151,110,144)"
                        }
                    }
                },
                {
                    "name": "gogogo",
                    "value": 0.1675290387969345,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(160,77,94)"
                        }
                    }
                },
                {
                    "name": "\u5b50\u9f99",
                    "value": 0.12247967160210205,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(93,5,46)"
                        }
                    }
                },
                {
                    "name": "\u5b66\u4e60",
                    "value": 0.11131739520211956,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(157,38,156)"
                        }
                    }
                },
                {
                    "name": "\u7f51\u5427",
                    "value": 0.0868114176081454,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(64,82,109)"
                        }
                    }
                },
                {
                    "name": "\u590d\u4e60",
                    "value": 0.06866895742524634,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(77,42,2)"
                        }
                    }
                },
                {
                    "name": "\u51e0\u628a",
                    "value": 0.06687256457396103,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(109,38,92)"
                        }
                    }
                },
                {
                    "name": "com",
                    "value": 0.06282338954885044,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(14,154,121)"
                        }
                    }
                },
                {
                    "name": "\u4e0a\u8bfe",
                    "value": 0.06118010431308519,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(60,106,152)"
                        }
                    }
                },
                {
                    "name": "\u8dd1\u6b65",
                    "value": 0.053519283451478,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(77,117,99)"
                        }
                    }
                },
                {
                    "name": "http",
                    "value": 0.04973518339283993,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(107,144,142)"
                        }
                    }
                },
                {
                    "name": "\u5bbf\u820d",
                    "value": 0.04449762080389753,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(127,115,81)"
                        }
                    }
                },
                {
                    "name": "\u5b66\u9662",
                    "value": 0.04416701997328005,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(134,118,83)"
                        }
                    }
                },
                {
                    "name": "\u8003\u8bd5",
                    "value": 0.04395278936916576,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(71,23,107)"
                        }
                    }
                },
                {
                    "name": "\u4ed6\u5988\u7684",
                    "value": 0.042703531104515004,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(36,89,73)"
                        }
                    }
                },
                {
                    "name": "OK",
                    "value": 0.039264618468031524,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(67,26,73)"
                        }
                    }
                },
                {
                    "name": "\u660e\u5929",
                    "value": 0.03654095181495949,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(135,123,7)"
                        }
                    }
                },
                {
                    "name": "\u4e0b\u8bfe",
                    "value": 0.036321048770497036,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(17,57,32)"
                        }
                    }
                },
                {
                    "name": "git",
                    "value": 0.034029336005627325,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(30,2,118)"
                        }
                    }
                },
                {
                    "name": "baidu",
                    "value": 0.034029336005627325,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(41,75,66)"
                        }
                    }
                },
                {
                    "name": "token",
                    "value": 0.034029336005627325,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(42,82,67)"
                        }
                    }
                },
                {
                    "name": "\u5403\u996d",
                    "value": 0.03386497795559448,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(70,110,103)"
                        }
                    }
                },
                {
                    "name": "\u9000\u5b66",
                    "value": 0.03280705489342019,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(145,84,156)"
                        }
                    }
                },
                {
                    "name": "\u4e00\u4f1a",
                    "value": 0.032309188151285306,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(107,25,131)"
                        }
                    }
                },
                {
                    "name": "\u4e0d\u4e86",
                    "value": 0.03173118697481936,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(27,10,117)"
                        }
                    }
                },
                {
                    "name": "naotu",
                    "value": 0.03141169477442522,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(12,63,49)"
                        }
                    }
                },
                {
                    "name": "file",
                    "value": 0.03141169477442522,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(22,66,117)"
                        }
                    }
                },
                {
                    "name": "\u77e5\u9053",
                    "value": 0.027845735336106854,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(107,130,113)"
                        }
                    }
                },
                {
                    "name": "\u4e0a\u7f51",
                    "value": 0.026389281245911975,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(63,35,138)"
                        }
                    }
                },
                {
                    "name": "QQ",
                    "value": 0.026176412312021016,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(24,8,72)"
                        }
                    }
                },
                {
                    "name": "\u4e0d\u662f",
                    "value": 0.025724570712130503,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(104,121,14)"
                        }
                    }
                },
                {
                    "name": "\u90a3\u4e2a",
                    "value": 0.024940428484834683,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(124,136,108)"
                        }
                    }
                },
                {
                    "name": "\u665a\u4e0a",
                    "value": 0.024804556583181515,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(36,142,118)"
                        }
                    }
                },
                {
                    "name": "\u8f6f\u4ef6",
                    "value": 0.024143946495752133,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(98,116,86)"
                        }
                    }
                },
                {
                    "name": "\u66b4\u51fb",
                    "value": 0.023558771080818917,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(42,145,101)"
                        }
                    }
                },
                {
                    "name": "https",
                    "value": 0.020941129849616814,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(44,31,105)"
                        }
                    }
                },
                {
                    "name": "\u56de\u53bb",
                    "value": 0.020824877088469456,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(77,126,146)"
                        }
                    }
                },
                {
                    "name": "\u725b\u9f3b",
                    "value": 0.02050090313045763,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(105,37,10)"
                        }
                    }
                },
                {
                    "name": "\u51e0\u70b9",
                    "value": 0.020489938945001094,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(47,28,130)"
                        }
                    }
                },
                {
                    "name": "\u5e72\u561b",
                    "value": 0.020267761665929494,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(138,22,141)"
                        }
                    }
                },
                {
                    "name": "\u51fa\u6765",
                    "value": 0.020090457922005693,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(48,110,128)"
                        }
                    }
                },
                {
                    "name": "\u4e0b\u5348",
                    "value": 0.019606063796091526,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(38,116,48)"
                        }
                    }
                },
                {
                    "name": "\u8001\u5e08",
                    "value": 0.019537531039281804,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(20,124,133)"
                        }
                    }
                },
                {
                    "name": "\u5395\u6240",
                    "value": 0.019392354191445152,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(67,143,125)"
                        }
                    }
                },
                {
                    "name": "\u8d76\u7d27",
                    "value": 0.01934257880360412,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(148,103,100)"
                        }
                    }
                },
                {
                    "name": "\u770b\u770b",
                    "value": 0.018954918825101818,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(84,79,1)"
                        }
                    }
                },
                {
                    "name": "\u5e9f\u8bdd",
                    "value": 0.018358088802231227,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(51,29,33)"
                        }
                    }
                },
                {
                    "name": "\u55b7\u8138",
                    "value": 0.01832348861841471,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(45,77,120)"
                        }
                    }
                },
                {
                    "name": "\u9a6c\u745e\u534e",
                    "value": 0.01832348861841471,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(44,63,82)"
                        }
                    }
                },
                {
                    "name": "2019",
                    "value": 0.01832348861841471,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(34,141,97)"
                        }
                    }
                },
                {
                    "name": "\u5565\u65f6\u5019",
                    "value": 0.017926408904129627,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(25,24,65)"
                        }
                    }
                },
                {
                    "name": "\u95e8\u53e3",
                    "value": 0.01769358839716444,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(65,153,17)"
                        }
                    }
                },
                {
                    "name": "\u624b\u673a",
                    "value": 0.0175681374568776,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(67,97,145)"
                        }
                    }
                },
                {
                    "name": "\u7535\u8111",
                    "value": 0.016251736391000658,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(141,39,54)"
                        }
                    }
                },
                {
                    "name": "\u9a6c\u4e0a",
                    "value": 0.016219955697438143,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(54,71,156)"
                        }
                    }
                },
                {
                    "name": "\u73a9\u610f",
                    "value": 0.01594683394646376,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(49,18,88)"
                        }
                    }
                },
                {
                    "name": "666",
                    "value": 0.01570584738721261,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(36,73,35)"
                        }
                    }
                },
                {
                    "name": "\u56fd\u57f9",
                    "value": 0.01570584738721261,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(117,147,65)"
                        }
                    }
                },
                {
                    "name": "10",
                    "value": 0.01570584738721261,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(92,39,98)"
                        }
                    }
                },
                {
                    "name": "\u8fa3\u9e21\u534e\u54e5",
                    "value": 0.01570584738721261,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(0,25,100)"
                        }
                    }
                },
                {
                    "name": "github",
                    "value": 0.01570584738721261,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(111,155,101)"
                        }
                    }
                },
                {
                    "name": "304",
                    "value": 0.01570584738721261,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(34,58,33)"
                        }
                    }
                },
                {
                    "name": "\u4e01\u857e\u857e",
                    "value": 0.01570584738721261,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(158,57,98)"
                        }
                    }
                },
                {
                    "name": "\u5c31\u884c\u4e86",
                    "value": 0.01563120885218086,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(66,1,121)"
                        }
                    }
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u5de8\u8349\u7387\u7684\u8bcd\u4e91"
        }
    ]
};
        chart_2b0e347f80154cc1b184a9e77c249767.setOption(option_2b0e347f80154cc1b184a9e77c249767);
    </script>
<br/></body>
</html>
