<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-wordcloud.min.js"></script>

</head>
<body>
        <div id="faad8ef3f3014931a0e6cb6f7f936955" style="width:900px; height:500px;"></div>
    <script>
        var chart_faad8ef3f3014931a0e6cb6f7f936955 = echarts.init(
            document.getElementById('faad8ef3f3014931a0e6cb6f7f936955'), 'white', {renderer: 'canvas'});
        var option_faad8ef3f3014931a0e6cb6f7f936955 = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u50bb\u5b50\u5427\u4f60",
            "data": [
                107,
                323
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u50bb\u5b50\u5427\u4f60"
            ],
            "selected": {
                "\u50bb\u5b50\u5427\u4f60": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                2018,
                2019
            ]
        }
    ],
    "title": [
        {
            "text": "\u5e74",
            "subtext": "year"
        }
    ]
};
        chart_faad8ef3f3014931a0e6cb6f7f936955.setOption(option_faad8ef3f3014931a0e6cb6f7f936955);
    </script>
<br/>        <div id="e418282dbc0d47c294241317ed70d855" style="width:900px; height:500px;"></div>
    <script>
        var chart_e418282dbc0d47c294241317ed70d855 = echarts.init(
            document.getElementById('e418282dbc0d47c294241317ed70d855'), 'white', {renderer: 'canvas'});
        var option_e418282dbc0d47c294241317ed70d855 = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "2018",
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "1\u6708",
                    0
                ],
                [
                    "2\u6708",
                    0
                ],
                [
                    "3\u6708",
                    7
                ],
                [
                    "4\u6708",
                    6
                ],
                [
                    "5\u6708",
                    83
                ],
                [
                    "6\u6708",
                    7
                ],
                [
                    "7\u6708",
                    2
                ],
                [
                    "8\u6708",
                    0
                ],
                [
                    "9\u6708",
                    0
                ],
                [
                    "10\u6708",
                    0
                ],
                [
                    "11\u6708",
                    0
                ],
                [
                    "12\u6708",
                    2
                ]
            ],
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "fontSize": 12
                },
                "data": [
                    {
                        "type": "max"
                    }
                ]
            }
        },
        {
            "type": "line",
            "name": "2019",
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "1\u6708",
                    0
                ],
                [
                    "2\u6708",
                    0
                ],
                [
                    "3\u6708",
                    130
                ],
                [
                    "4\u6708",
                    129
                ],
                [
                    "5\u6708",
                    64
                ],
                [
                    "6\u6708",
                    0
                ],
                [
                    "7\u6708",
                    0
                ],
                [
                    "8\u6708",
                    0
                ],
                [
                    "9\u6708",
                    0
                ],
                [
                    "10\u6708",
                    0
                ],
                [
                    "11\u6708",
                    0
                ],
                [
                    "12\u6708",
                    0
                ]
            ],
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "fontSize": 12
                },
                "data": [
                    {
                        "type": "max"
                    }
                ]
            }
        }
    ],
    "legend": [
        {
            "data": [
                "2018",
                "2019"
            ],
            "selected": {
                "2018": true,
                "2019": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "1\u6708",
                "2\u6708",
                "3\u6708",
                "4\u6708",
                "5\u6708",
                "6\u6708",
                "7\u6708",
                "8\u6708",
                "9\u6708",
                "10\u6708",
                "11\u6708",
                "12\u6708"
            ]
        }
    ],
    "title": [
        {
            "text": "\u6708",
            "subtext": "month"
        }
    ]
};
        chart_e418282dbc0d47c294241317ed70d855.setOption(option_e418282dbc0d47c294241317ed70d855);
    </script>
<br/>        <div id="b05e9c7a908f4341a694320b983cab9f" style="width:900px; height:500px;"></div>
    <script>
        var chart_b05e9c7a908f4341a694320b983cab9f = echarts.init(
            document.getElementById('b05e9c7a908f4341a694320b983cab9f'), 'white', {renderer: 'canvas'});
        var option_b05e9c7a908f4341a694320b983cab9f = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "eachhour",
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "1\u70b9",
                    0
                ],
                [
                    "2\u70b9",
                    0
                ],
                [
                    "3\u70b9",
                    0
                ],
                [
                    "4\u70b9",
                    0
                ],
                [
                    "5\u70b9",
                    0
                ],
                [
                    "6\u70b9",
                    0
                ],
                [
                    "7\u70b9",
                    0
                ],
                [
                    "8\u70b9",
                    3
                ],
                [
                    "9\u70b9",
                    10
                ],
                [
                    "10\u70b9",
                    39
                ],
                [
                    "11\u70b9",
                    30
                ],
                [
                    "12\u70b9",
                    28
                ],
                [
                    "13\u70b9",
                    14
                ],
                [
                    "14\u70b9",
                    15
                ],
                [
                    "15\u70b9",
                    4
                ],
                [
                    "16\u70b9",
                    3
                ],
                [
                    "17\u70b9",
                    43
                ],
                [
                    "18\u70b9",
                    73
                ],
                [
                    "19\u70b9",
                    31
                ],
                [
                    "20\u70b9",
                    6
                ],
                [
                    "21\u70b9",
                    28
                ],
                [
                    "22\u70b9",
                    17
                ],
                [
                    "23\u70b9",
                    34
                ],
                [
                    "24\u70b9",
                    52
                ]
            ],
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "fontSize": 12
                },
                "data": [
                    {
                        "type": "max"
                    }
                ]
            },
            "markLine": {
                "silent": false,
                "precision": 2,
                "label": {
                    "show": true,
                    "position": "top",
                    "fontSize": 12
                },
                "data": [
                    {
                        "type": "average"
                    }
                ]
            }
        }
    ],
    "legend": [
        {
            "data": [
                "eachhour"
            ],
            "selected": {
                "eachhour": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "1\u70b9",
                "2\u70b9",
                "3\u70b9",
                "4\u70b9",
                "5\u70b9",
                "6\u70b9",
                "7\u70b9",
                "8\u70b9",
                "9\u70b9",
                "10\u70b9",
                "11\u70b9",
                "12\u70b9",
                "13\u70b9",
                "14\u70b9",
                "15\u70b9",
                "16\u70b9",
                "17\u70b9",
                "18\u70b9",
                "19\u70b9",
                "20\u70b9",
                "21\u70b9",
                "22\u70b9",
                "23\u70b9",
                "24\u70b9"
            ]
        }
    ],
    "title": [
        {
            "text": "\u65f6",
            "subtext": "hour"
        }
    ]
};
        chart_b05e9c7a908f4341a694320b983cab9f.setOption(option_b05e9c7a908f4341a694320b983cab9f);
    </script>
<br/>        <div id="13749ebe5952416482c4bc6b6001dfdc" style="width:900px; height:500px;"></div>
    <script>
        var chart_13749ebe5952416482c4bc6b6001dfdc = echarts.init(
            document.getElementById('13749ebe5952416482c4bc6b6001dfdc'), 'white', {renderer: 'canvas'});
        var option_13749ebe5952416482c4bc6b6001dfdc = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "ly",
            "data": [
                42,
                200,
                23,
                11,
                9,
                4248,
                6,
                5,
                10
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            }
        }
    ],
    "legend": [
        {
            "data": [
                "ly"
            ],
            "selected": {
                "ly": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u8868\u60c5",
                "\u4e50\u4e50",
                "\u56fe\u7247",
                "\u4e50\u54e5",
                "\u9f99\u54e5",
                "...",
                "\u5b50\u9f99",
                "\u8fa3\u9e21",
                "\u90a3\u4e2a"
            ]
        }
    ],
    "title": [
        {
            "text": "\u9ad8\u9891\u7387\u8bcd\u6c47\u8349\u7387\u6c47\u603b",
            "subtext": "\u8349\u7387"
        }
    ]
};
        chart_13749ebe5952416482c4bc6b6001dfdc.setOption(option_13749ebe5952416482c4bc6b6001dfdc);
    </script>
<br/>        <div id="d44c0be5a6424e088d482adaeaece75b" style="width:900px; height:500px;"></div>
    <script>
        var chart_d44c0be5a6424e088d482adaeaece75b = echarts.init(
            document.getElementById('d44c0be5a6424e088d482adaeaece75b'), 'white', {renderer: 'canvas'});
        var option_d44c0be5a6424e088d482adaeaece75b = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "wordCloud",
            "shape": "diamond",
            "rotationRange": [
                0,
                0
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                20,
                100
            ],
            "data": [
                {
                    "name": "\u8868\u60c5",
                    "value": 0.4464225281146296,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(48,38,99)"
                        }
                    }
                },
                {
                    "name": "\u4e50\u4e50",
                    "value": 0.36272403776064815,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(6,153,11)"
                        }
                    }
                },
                {
                    "name": "\u56fe\u7247",
                    "value": 0.2262553564637191,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(132,90,35)"
                        }
                    }
                },
                {
                    "name": "\u4e50\u54e5",
                    "value": 0.18448715282253086,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(33,58,119)"
                        }
                    }
                },
                {
                    "name": "\u9f99\u54e5",
                    "value": 0.1707116630486111,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(74,52,22)"
                        }
                    }
                },
                {
                    "name": "...",
                    "value": 0.16603843754027778,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(98,83,112)"
                        }
                    }
                },
                {
                    "name": "\u5b50\u9f99",
                    "value": 0.0924875430236111,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(2,106,70)"
                        }
                    }
                },
                {
                    "name": "\u8fa3\u9e21",
                    "value": 0.09224357641126543,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(99,91,105)"
                        }
                    }
                },
                {
                    "name": "\u90a3\u4e2a",
                    "value": 0.07324005715679012,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(17,77,112)"
                        }
                    }
                },
                {
                    "name": "\u4e0d\u73a9",
                    "value": 0.07297059327345679,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(69,154,7)"
                        }
                    }
                },
                {
                    "name": "\u62a5\u540d",
                    "value": 0.07091161469,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(27,31,49)"
                        }
                    }
                },
                {
                    "name": "\u5783\u573e",
                    "value": 0.06165031641929012,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(35,40,51)"
                        }
                    }
                },
                {
                    "name": "\u5bbf\u820d",
                    "value": 0.06031001727546296,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(49,81,8)"
                        }
                    }
                },
                {
                    "name": "\u9875\u9762",
                    "value": 0.06023174645419753,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(126,123,12)"
                        }
                    }
                },
                {
                    "name": "\u6253\u7089\u77f3",
                    "value": 0.05534614584675926,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(106,32,4)"
                        }
                    }
                },
                {
                    "name": "\u6ca1\u724c",
                    "value": 0.05534614584675926,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(126,98,12)"
                        }
                    }
                },
                {
                    "name": "\u4e0d\u6765",
                    "value": 0.054525994700308646,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(107,107,124)"
                        }
                    }
                },
                {
                    "name": "\u5bfc\u51fa",
                    "value": 0.054517120060246914,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(8,55,14)"
                        }
                    }
                },
                {
                    "name": "\u72c2\u91ce",
                    "value": 0.052850791676851853,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(121,92,66)"
                        }
                    }
                },
                {
                    "name": "\u7ec4\u957f",
                    "value": 0.05152912387067901,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(160,131,62)"
                        }
                    }
                },
                {
                    "name": "\u6b63\u7248",
                    "value": 0.04816745412268518,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(135,108,21)"
                        }
                    }
                },
                {
                    "name": "\u90ae\u7bb1",
                    "value": 0.04615209268171297,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(15,137,63)"
                        }
                    }
                },
                {
                    "name": "\u4e00\u4e2a",
                    "value": 0.043480724878549384,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(131,115,38)"
                        }
                    }
                },
                {
                    "name": "\u5927\u54e5",
                    "value": 0.043234464940432094,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(62,101,151)"
                        }
                    }
                },
                {
                    "name": "\u6bd4\u8d5b",
                    "value": 0.04218122100814815,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(64,60,70)"
                        }
                    }
                },
                {
                    "name": "\u54ea\u4e2a",
                    "value": 0.041999730083209875,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(113,23,120)"
                        }
                    }
                },
                {
                    "name": "\u54b1\u4eec",
                    "value": 0.0415191962554784,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(114,59,110)"
                        }
                    }
                },
                {
                    "name": "\u6700\u65b0\u7248",
                    "value": 0.04076398293641975,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(100,64,79)"
                        }
                    }
                },
                {
                    "name": "\u6253\u7206",
                    "value": 0.039512547417592594,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(76,35,89)"
                        }
                    }
                },
                {
                    "name": "\u4e0a\u8bfe",
                    "value": 0.03919886874268519,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(11,73,40)"
                        }
                    }
                },
                {
                    "name": "QQ",
                    "value": 0.03689743056450617,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(136,33,45)"
                        }
                    }
                },
                {
                    "name": "\u540a\u9524",
                    "value": 0.03689743056450617,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(56,90,147)"
                        }
                    }
                },
                {
                    "name": "fk",
                    "value": 0.03689743056450617,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(143,79,113)"
                        }
                    }
                },
                {
                    "name": "ok",
                    "value": 0.03689743056450617,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(144,156,23)"
                        }
                    }
                },
                {
                    "name": "\u7089\u77f3",
                    "value": 0.03689743056450617,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(5,21,119)"
                        }
                    }
                },
                {
                    "name": "U\u76d8",
                    "value": 0.03689743056450617,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(13,24,4)"
                        }
                    }
                },
                {
                    "name": "git",
                    "value": 0.03689743056450617,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(108,129,79)"
                        }
                    }
                },
                {
                    "name": "com",
                    "value": 0.03689743056450617,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(152,157,2)"
                        }
                    }
                },
                {
                    "name": "lj",
                    "value": 0.03689743056450617,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(145,90,109)"
                        }
                    }
                },
                {
                    "name": "project",
                    "value": 0.03689743056450617,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(65,75,59)"
                        }
                    }
                },
                {
                    "name": "\u5c31\u884c\u4e86",
                    "value": 0.03672208375921296,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(73,159,119)"
                        }
                    }
                },
                {
                    "name": "\u4e0d\u662f",
                    "value": 0.035090834660185186,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(116,33,155)"
                        }
                    }
                },
                {
                    "name": "\u7535\u8111",
                    "value": 0.03436188893412037,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(151,131,58)"
                        }
                    }
                },
                {
                    "name": "\u7f3a\u4eba",
                    "value": 0.03350665189598765,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(105,159,113)"
                        }
                    }
                },
                {
                    "name": "\u770b\u770b",
                    "value": 0.03339780643296296,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(18,151,82)"
                        }
                    }
                },
                {
                    "name": "\u53ef\u4ee5",
                    "value": 0.03245480789037037,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(58,15,81)"
                        }
                    }
                },
                {
                    "name": "\u6587\u6863",
                    "value": 0.030829181007870368,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(19,36,26)"
                        }
                    }
                },
                {
                    "name": "\u5ba3\u8bb2",
                    "value": 0.030266460153549384,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(40,150,32)"
                        }
                    }
                },
                {
                    "name": "\u4e0d\u8981",
                    "value": 0.030203352963580246,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(137,82,156)"
                        }
                    }
                },
                {
                    "name": "\u516b\u70b9",
                    "value": 0.029925879730185182,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(8,91,133)"
                        }
                    }
                },
                {
                    "name": "\u76d7\u7248",
                    "value": 0.029496519228765433,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(0,58,7)"
                        }
                    }
                },
                {
                    "name": "\u4f60\u4eec",
                    "value": 0.029202758168765434,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(8,40,6)"
                        }
                    }
                },
                {
                    "name": "\u6709\u7a7a",
                    "value": 0.029155340604074077,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(60,35,146)"
                        }
                    }
                },
                {
                    "name": "\u670d\u52a1\u5668",
                    "value": 0.02904951013037037,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(1,48,160)"
                        }
                    }
                },
                {
                    "name": "\u624b\u673a",
                    "value": 0.028573249204259257,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(136,91,135)"
                        }
                    }
                },
                {
                    "name": "\u8282\u70b9",
                    "value": 0.028231751422438275,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(20,34,130)"
                        }
                    }
                },
                {
                    "name": "\u8fd9\u4e2a",
                    "value": 0.02752565667060185,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(101,29,22)"
                        }
                    }
                },
                {
                    "name": "\u4ec0\u4e48",
                    "value": 0.027522394335648147,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(69,111,129)"
                        }
                    }
                },
                {
                    "name": "\u5b66\u4e60",
                    "value": 0.02674592507828704,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(17,160,57)"
                        }
                    }
                },
                {
                    "name": "\u6807\u51c6",
                    "value": 0.025057876896435183,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(43,139,40)"
                        }
                    }
                },
                {
                    "name": "\u5728\u7ebf",
                    "value": 0.024702233902283953,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(41,63,23)"
                        }
                    }
                },
                {
                    "name": "\u77e5\u9053",
                    "value": 0.024531534197530864,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(3,75,100)"
                        }
                    }
                },
                {
                    "name": "\u4ed3\u5e93",
                    "value": 0.023861317652716048,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(151,109,118)"
                        }
                    }
                },
                {
                    "name": "\u6ca1\u4e8b",
                    "value": 0.023822817115,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(129,55,0)"
                        }
                    }
                },
                {
                    "name": "\u611f\u8c22",
                    "value": 0.023123916237407408,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(65,65,29)"
                        }
                    }
                },
                {
                    "name": "\u4f53\u9a8c",
                    "value": 0.022941292981080247,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(3,123,70)"
                        }
                    }
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u5de8\u8349\u7387\u7684\u8bcd\u4e91"
        }
    ]
};
        chart_d44c0be5a6424e088d482adaeaece75b.setOption(option_d44c0be5a6424e088d482adaeaece75b);
    </script>
<br/></body>
</html>
