<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-wordcloud.min.js"></script>

</head>
<body>
        <div id="66ed67597c094680ac353463eee079cb" style="width:900px; height:500px;"></div>
    <script>
        var chart_66ed67597c094680ac353463eee079cb = echarts.init(
            document.getElementById('66ed67597c094680ac353463eee079cb'), 'white', {renderer: 'canvas'});
        var option_66ed67597c094680ac353463eee079cb = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u674e\u60a6",
            "data": [
                1653,
                1651
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u674e\u60a6"
            ],
            "selected": {
                "\u674e\u60a6": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                2018,
                2019
            ]
        }
    ],
    "title": [
        {
            "text": "\u5e74",
            "subtext": "year"
        }
    ]
};
        chart_66ed67597c094680ac353463eee079cb.setOption(option_66ed67597c094680ac353463eee079cb);
    </script>
<br/>        <div id="2cdbcf43e5a14e7ba276788d205bc041" style="width:900px; height:500px;"></div>
    <script>
        var chart_2cdbcf43e5a14e7ba276788d205bc041 = echarts.init(
            document.getElementById('2cdbcf43e5a14e7ba276788d205bc041'), 'white', {renderer: 'canvas'});
        var option_2cdbcf43e5a14e7ba276788d205bc041 = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "2018",
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "1\u6708",
                    0
                ],
                [
                    "2\u6708",
                    0
                ],
                [
                    "3\u6708",
                    0
                ],
                [
                    "4\u6708",
                    0
                ],
                [
                    "5\u6708",
                    49
                ],
                [
                    "6\u6708",
                    113
                ],
                [
                    "7\u6708",
                    19
                ],
                [
                    "8\u6708",
                    8
                ],
                [
                    "9\u6708",
                    470
                ],
                [
                    "10\u6708",
                    347
                ],
                [
                    "11\u6708",
                    413
                ],
                [
                    "12\u6708",
                    224
                ]
            ],
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "fontSize": 12
                },
                "data": [
                    {
                        "type": "max"
                    }
                ]
            }
        },
        {
            "type": "line",
            "name": "2019",
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "1\u6708",
                    169
                ],
                [
                    "2\u6708",
                    147
                ],
                [
                    "3\u6708",
                    307
                ],
                [
                    "4\u6708",
                    430
                ],
                [
                    "5\u6708",
                    590
                ],
                [
                    "6\u6708",
                    0
                ],
                [
                    "7\u6708",
                    0
                ],
                [
                    "8\u6708",
                    0
                ],
                [
                    "9\u6708",
                    0
                ],
                [
                    "10\u6708",
                    0
                ],
                [
                    "11\u6708",
                    0
                ],
                [
                    "12\u6708",
                    0
                ]
            ],
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "fontSize": 12
                },
                "data": [
                    {
                        "type": "max"
                    }
                ]
            }
        }
    ],
    "legend": [
        {
            "data": [
                "2018",
                "2019"
            ],
            "selected": {
                "2018": true,
                "2019": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "1\u6708",
                "2\u6708",
                "3\u6708",
                "4\u6708",
                "5\u6708",
                "6\u6708",
                "7\u6708",
                "8\u6708",
                "9\u6708",
                "10\u6708",
                "11\u6708",
                "12\u6708"
            ]
        }
    ],
    "title": [
        {
            "text": "\u6708",
            "subtext": "month"
        }
    ]
};
        chart_2cdbcf43e5a14e7ba276788d205bc041.setOption(option_2cdbcf43e5a14e7ba276788d205bc041);
    </script>
<br/>        <div id="156f2c0a535b4924948545b41f4e29b4" style="width:900px; height:500px;"></div>
    <script>
        var chart_156f2c0a535b4924948545b41f4e29b4 = echarts.init(
            document.getElementById('156f2c0a535b4924948545b41f4e29b4'), 'white', {renderer: 'canvas'});
        var option_156f2c0a535b4924948545b41f4e29b4 = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "eachhour",
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "1\u70b9",
                    115
                ],
                [
                    "2\u70b9",
                    49
                ],
                [
                    "3\u70b9",
                    0
                ],
                [
                    "4\u70b9",
                    0
                ],
                [
                    "5\u70b9",
                    0
                ],
                [
                    "6\u70b9",
                    0
                ],
                [
                    "7\u70b9",
                    0
                ],
                [
                    "8\u70b9",
                    8
                ],
                [
                    "9\u70b9",
                    65
                ],
                [
                    "10\u70b9",
                    128
                ],
                [
                    "11\u70b9",
                    262
                ],
                [
                    "12\u70b9",
                    206
                ],
                [
                    "13\u70b9",
                    100
                ],
                [
                    "14\u70b9",
                    172
                ],
                [
                    "15\u70b9",
                    277
                ],
                [
                    "16\u70b9",
                    295
                ],
                [
                    "17\u70b9",
                    278
                ],
                [
                    "18\u70b9",
                    285
                ],
                [
                    "19\u70b9",
                    331
                ],
                [
                    "20\u70b9",
                    183
                ],
                [
                    "21\u70b9",
                    87
                ],
                [
                    "22\u70b9",
                    205
                ],
                [
                    "23\u70b9",
                    88
                ],
                [
                    "24\u70b9",
                    157
                ]
            ],
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "fontSize": 12
                },
                "data": [
                    {
                        "type": "max"
                    }
                ]
            },
            "markLine": {
                "silent": false,
                "precision": 2,
                "label": {
                    "show": true,
                    "position": "top",
                    "fontSize": 12
                },
                "data": [
                    {
                        "type": "average"
                    }
                ]
            }
        }
    ],
    "legend": [
        {
            "data": [
                "eachhour"
            ],
            "selected": {
                "eachhour": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "1\u70b9",
                "2\u70b9",
                "3\u70b9",
                "4\u70b9",
                "5\u70b9",
                "6\u70b9",
                "7\u70b9",
                "8\u70b9",
                "9\u70b9",
                "10\u70b9",
                "11\u70b9",
                "12\u70b9",
                "13\u70b9",
                "14\u70b9",
                "15\u70b9",
                "16\u70b9",
                "17\u70b9",
                "18\u70b9",
                "19\u70b9",
                "20\u70b9",
                "21\u70b9",
                "22\u70b9",
                "23\u70b9",
                "24\u70b9"
            ]
        }
    ],
    "title": [
        {
            "text": "\u65f6",
            "subtext": "hour"
        }
    ]
};
        chart_156f2c0a535b4924948545b41f4e29b4.setOption(option_156f2c0a535b4924948545b41f4e29b4);
    </script>
<br/>        <div id="fe2ab9dd72ab41189010027e3e1edb32" style="width:900px; height:500px;"></div>
    <script>
        var chart_fe2ab9dd72ab41189010027e3e1edb32 = echarts.init(
            document.getElementById('fe2ab9dd72ab41189010027e3e1edb32'), 'white', {renderer: 'canvas'});
        var option_fe2ab9dd72ab41189010027e3e1edb32 = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "ly",
            "data": [
                759,
                297,
                82,
                93,
                72,
                220,
                72,
                90,
                70
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            }
        }
    ],
    "legend": [
        {
            "data": [
                "ly"
            ],
            "selected": {
                "ly": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u56fe\u7247",
                "\u8868\u60c5",
                "html",
                "log",
                "function",
                "ion",
                "QQ",
                "item",
                "var"
            ]
        }
    ],
    "title": [
        {
            "text": "\u9ad8\u9891\u7387\u8bcd\u6c47\u8349\u7387\u6c47\u603b",
            "subtext": "\u8349\u7387"
        }
    ]
};
        chart_fe2ab9dd72ab41189010027e3e1edb32.setOption(option_fe2ab9dd72ab41189010027e3e1edb32);
    </script>
<br/>        <div id="3f3a3806d1364ec4a01ba00504403d0b" style="width:900px; height:500px;"></div>
    <script>
        var chart_3f3a3806d1364ec4a01ba00504403d0b = echarts.init(
            document.getElementById('3f3a3806d1364ec4a01ba00504403d0b'), 'white', {renderer: 'canvas'});
        var option_3f3a3806d1364ec4a01ba00504403d0b = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "wordCloud",
            "shape": "diamond",
            "rotationRange": [
                0,
                0
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                20,
                100
            ],
            "data": [
                {
                    "name": "\u56fe\u7247",
                    "value": 0.3092518084129223,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(120,134,23)"
                        }
                    }
                },
                {
                    "name": "\u8868\u60c5",
                    "value": 0.13075331243943625,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(7,62,90)"
                        }
                    }
                },
                {
                    "name": "html",
                    "value": 0.06189429004377756,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(5,121,88)"
                        }
                    }
                },
                {
                    "name": "log",
                    "value": 0.06036603596862256,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(0,16,25)"
                        }
                    }
                },
                {
                    "name": "function",
                    "value": 0.055017146705580056,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(81,103,3)"
                        }
                    }
                },
                {
                    "name": "ion",
                    "value": 0.054253019668002556,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(101,135,144)"
                        }
                    }
                },
                {
                    "name": "QQ",
                    "value": 0.053488892630425056,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(103,83,153)"
                        }
                    }
                },
                {
                    "name": "item",
                    "value": 0.053488892630425056,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(111,97,115)"
                        }
                    }
                },
                {
                    "name": "var",
                    "value": 0.053488892630425056,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(98,118,86)"
                        }
                    }
                },
                {
                    "name": "com",
                    "value": 0.052724765592847556,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(135,40,152)"
                        }
                    }
                },
                {
                    "name": "console",
                    "value": 0.04661174929222755,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(8,142,114)"
                        }
                    }
                },
                {
                    "name": "\u53d1\u9001",
                    "value": 0.042355396335097474,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(34,139,113)"
                        }
                    }
                },
                {
                    "name": "https",
                    "value": 0.03897047891645254,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(90,136,126)"
                        }
                    }
                },
                {
                    "name": "import",
                    "value": 0.035913970766142535,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(109,8,27)"
                        }
                    }
                },
                {
                    "name": "style",
                    "value": 0.034385716690987535,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(93,116,49)"
                        }
                    }
                },
                {
                    "name": "return",
                    "value": 0.034385716690987535,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(113,155,111)"
                        }
                    }
                },
                {
                    "name": "title",
                    "value": 0.03132920854067753,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(81,35,59)"
                        }
                    }
                },
                {
                    "name": "index",
                    "value": 0.02980095446552253,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(5,120,143)"
                        }
                    }
                },
                {
                    "name": "data",
                    "value": 0.02980095446552253,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(94,106,86)"
                        }
                    }
                },
                {
                    "name": "input",
                    "value": 0.029036827427945028,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(23,124,21)"
                        }
                    }
                },
                {
                    "name": "\u67e5\u770b",
                    "value": 0.02894384477033557,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(108,15,100)"
                        }
                    }
                },
                {
                    "name": "id",
                    "value": 0.028272700390367528,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(102,145,1)"
                        }
                    }
                },
                {
                    "name": "\u6296\u52a8",
                    "value": 0.027802049180272927,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(134,14,38)"
                        }
                    }
                },
                {
                    "name": "\u624b\u673a",
                    "value": 0.02721992369065388,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(154,26,96)"
                        }
                    }
                },
                {
                    "name": "type",
                    "value": 0.026744446315212528,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(85,74,150)"
                        }
                    }
                },
                {
                    "name": "KB",
                    "value": 0.025980319277635024,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(76,58,7)"
                        }
                    }
                },
                {
                    "name": "\u79bb\u7ebf",
                    "value": 0.02559669321245126,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(22,35,77)"
                        }
                    }
                },
                {
                    "name": "js",
                    "value": 0.025216192240057524,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(77,68,108)"
                        }
                    }
                },
                {
                    "name": "class",
                    "value": 0.024452065202480024,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(63,56,55)"
                        }
                    }
                },
                {
                    "name": "body",
                    "value": 0.023687938164902524,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(15,108,122)"
                        }
                    }
                },
                {
                    "name": "app",
                    "value": 0.023687938164902524,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(141,47,71)"
                        }
                    }
                },
                {
                    "name": "div",
                    "value": 0.023687938164902524,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(48,150,16)"
                        }
                    }
                },
                {
                    "name": "\u6587\u4ef6",
                    "value": 0.023630887419137107,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(149,105,17)"
                        }
                    }
                },
                {
                    "name": "\u7a97\u53e3",
                    "value": 0.023619109336689037,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(106,56,35)"
                        }
                    }
                },
                {
                    "name": "\u7248\u672c",
                    "value": 0.023261237317675935,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(60,74,51)"
                        }
                    }
                },
                {
                    "name": "button",
                    "value": 0.022923811127325024,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(135,73,55)"
                        }
                    }
                },
                {
                    "name": "width",
                    "value": 0.022923811127325024,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(52,80,127)"
                        }
                    }
                },
                {
                    "name": "height",
                    "value": 0.022923811127325024,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(1,146,88)"
                        }
                    }
                },
                {
                    "name": "color",
                    "value": 0.022923811127325024,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(22,110,19)"
                        }
                    }
                },
                {
                    "name": "\u4f7f\u7528",
                    "value": 0.0225165481327977,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(94,76,82)"
                        }
                    }
                },
                {
                    "name": "head",
                    "value": 0.02139555705217002,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(81,110,148)"
                        }
                    }
                },
                {
                    "name": "12",
                    "value": 0.02139555705217002,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(1,151,107)"
                        }
                    }
                },
                {
                    "name": "err",
                    "value": 0.02139555705217002,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(84,13,38)"
                        }
                    }
                },
                {
                    "name": "arr",
                    "value": 0.02063143001459252,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(121,118,114)"
                        }
                    }
                },
                {
                    "name": "\u6700\u65b0",
                    "value": 0.020071935433416427,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(24,34,71)"
                        }
                    }
                },
                {
                    "name": "background",
                    "value": 0.01986730297701502,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(138,63,16)"
                        }
                    }
                },
                {
                    "name": "else",
                    "value": 0.01986730297701502,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(61,60,147)"
                        }
                    }
                },
                {
                    "name": "Component",
                    "value": 0.01986730297701502,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(87,27,127)"
                        }
                    }
                },
                {
                    "name": "\u6700\u65b0\u7248",
                    "value": 0.019416631565496965,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(43,84,26)"
                        }
                    }
                },
                {
                    "name": "10",
                    "value": 0.018339048901860017,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(116,88,18)"
                        }
                    }
                },
                {
                    "name": "script",
                    "value": 0.018339048901860017,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(123,41,114)"
                        }
                    }
                },
                {
                    "name": "require",
                    "value": 0.018339048901860017,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(5,96,44)"
                        }
                    }
                },
                {
                    "name": "res",
                    "value": 0.018339048901860017,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(22,76,92)"
                        }
                    }
                },
                {
                    "name": "\u6bd4\u5fc3",
                    "value": 0.018339048901860017,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(135,86,32)"
                        }
                    }
                },
                {
                    "name": "localStorage",
                    "value": 0.017574921864282517,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(53,33,127)"
                        }
                    }
                },
                {
                    "name": "child",
                    "value": 0.017574921864282517,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(100,24,155)"
                        }
                    }
                },
                {
                    "name": "top",
                    "value": 0.017574921864282517,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(157,149,118)"
                        }
                    }
                },
                {
                    "name": "\u679c\u513f",
                    "value": 0.017070893851888785,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(54,78,83)"
                        }
                    }
                },
                {
                    "name": "\u4e00\u4f1a",
                    "value": 0.017066552121940554,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(35,71,160)"
                        }
                    }
                },
                {
                    "name": "qq",
                    "value": 0.016810794826705017,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(68,143,76)"
                        }
                    }
                },
                {
                    "name": "name",
                    "value": 0.016810794826705017,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(119,148,22)"
                        }
                    }
                },
                {
                    "name": "http",
                    "value": 0.016810794826705017,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(101,12,143)"
                        }
                    }
                },
                {
                    "name": "ul",
                    "value": 0.016046667789127517,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(149,39,26)"
                        }
                    }
                },
                {
                    "name": "value",
                    "value": 0.016046667789127517,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(97,153,160)"
                        }
                    }
                },
                {
                    "name": "\u60a8\u597d",
                    "value": 0.015624507663427292,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(110,138,104)"
                        }
                    }
                },
                {
                    "name": "\u4e00\u4e2a",
                    "value": 0.015307883197893894,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(42,8,43)"
                        }
                    }
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u5de8\u8349\u7387\u7684\u8bcd\u4e91"
        }
    ]
};
        chart_3f3a3806d1364ec4a01ba00504403d0b.setOption(option_3f3a3806d1364ec4a01ba00504403d0b);
    </script>
<br/></body>
</html>
