a:link{
	text-decoration:none;
}
a:visited{
	text-decoration:none;
}
a:hover{
	text-decoration:none;
}
a:active{
	text-decoration:none;
}
a {
	color:#241c15 !important;
	text-decoration:none !important;
}
li {
	list-style:none;
	display:inline;
}

.header {
	margin:auto;
	padding-top:3rem !important;

}
.globalNavPrimary__menu {
	align-items:center;
	dispaly:flex;
	margin-bottom:0 !important;
}
.header img {
	height:100px;
}
.globalNavPrimary__item {
	font-color:#241c15;
	font-family:Graphik,Helvetica Neue,Helvetica,Arial,Verdana,sans-serif;
	font-size:1.575rem;
	font-width:400;
	margin-left:1rem;
	margin-right:1.375rem;

}
#footer {
	background-color:#ffe01b;
	width:100%;
	height:250px;
	position:absolute;
	bottom:0;
	text-align:center;
}
#footallcontent {
	margin-top:15rem;
}
.footcontent {
	margin-top:.97rem;
	font-size:1.29rem;
	display:flex;
	align-items:center;
	justify-content:center;
}
.home {
		
}
#container {
	position:relative;
	min-height:100%;
	height:100%;
	padding-bottom:100px;
	box-sizing:border-box;
}
#hero_title {
	position:relative;
	margin-top:3rem !important;
}
#about {
	box-sizing:border-box;
	margin-left:auto;
	margin-right:auto;
	max-width:100em;
	padding-left:1.875rem;
	padding-right:1.875rem;
	width:100%;
	position:relative;
}
#about h1 {
	margin-top:3rem !important;
	font-size:2.375rem;
	letter-spacing:-.03125rem;
	font-family:Cooper,Georgia,Times,Times New Roman,serif !important;
}
#hero_content {
	width:75%;
	height:475px;
	margin-left:auto;
	margin-right:auto;
	align-items:center;
	display:flex;
	flex-wrap:wrap;
}
#hero_qq_tim {
	margin-top:2rem;
	margin-bottom:2rem;
}
#qqortim {
	border:none;
	color:#007c89;
	display:inline-block;
	font-family:Graphik,Helvetica Neue,Helvetica,Arial,Verdana,sans-serif;
	font-size:.875rem;
	font-weight:600;
	padding:.6rem 0;
	width:3.6rem;
}
#bili {
	position:relative;
	float:right;
	margin-left:4.6rem !important;
	margin-top:8.125rem !important;
}
.otherheader :hover{
	transition:	background-color 1s ease-in-out;
	background-color: #ffffff;
}
#start {
	width:100%;
	padding-left: 12%;
	margin-right:auto;
	padding-top:18rem;
	font-family:Cooper,Georgia,Times,Times New Roman,serif;
	line-height:1;
	font-weight:18;
	display:inline-block;
	overflow:hidden;
}
#startleft {
	width:26%;	
	float:left;
}
#startright {
	position:relative;
	margin-left:38rem;
	overflow:hidden;
}
.process {
	background-color:#ffe01b;
	margin-top:5rem;
}
#process-div {
	display:flex;
	padding-left:26rem;
	padding-top:5rem;
	width:100%;
	height:450px;
}
#process-title {
	position:absolute;
}
#process-list {
	display:block;
	position:relative;
	margin-top:10rem;
	margin-left:-4rem;
}
#process-list li {
	display:block !important;
}
.process-img {
	margin-top:5rem;
	margin-left:32rem;
	overflow:hidden;
	box-sizing:border-box;
	display:block;
	width:304px !important;
	height:243px !important;
}
.process-img img {
	width:100%;
	height:100%;
}
#allcomform {
	position:relative;
	height:720px;
}
#comform {
	position:relative;
	margin-left:27rem;
	margin-top:12rem;
	width:268px;
	height:235px;
	float:left;
}
#comform-img{
	position:relative;
	width:400px;
	height:380px;
	float:left;
	margin-left:3rem;
	margin-top:8rem;
	overflow:hidden;
}
#comform img {
	width:100%;
	height:100%;
}
#thankyou {
	padding-top:29rem;
	padding-left:30rem;
	height:890px;
	
}
#thankyou h2 {
	 font-family:Cooper,Georgia,Times,Times New Roman,serif !important;  
}
#thankyou a {
	color:#ffe01b !important;
}

#body {
	position:relative;
	margin-top:14rem;
	margin-left:19rem;
	height:100%;
	padding-bottom:19rem;
	overflow:hidden;
}
